@font-face {
    font-family: 'Prata';
    font-style: 'normal';
    font-weight: 400;
    src: local('Prata Regular'), local('Prata-Regular'),
         url('prata-latin-regular.woff2') format('woff2'),
         url('prata-latin-regular.woff') format('woff');
}