@font-face {
    font-family: 'Andada';
    font-style: 'normal';
    font-weight: 400;
    src: local('Andada Regular'), local('Andada-Regular'),
         url('andada-latin-regular.woff2') format('woff2'),
         url('andada-latin-regular.woff') format('woff');
}