@font-face {
    font-family: 'Arapey';
    font-style: 'normal';
    font-weight: 400;
    src: local('Arapey Regular'), local('Arapey-Regular'),
         url('arapey-latin-regular.woff2') format('woff2'),
         url('arapey-latin-regular.woff') format('woff');
}