@font-face {
    font-family: 'Open Sans';
    font-style: 'italic';
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
         url('open-sans-greek-ext-700italic.woff2') format('woff2'),
         url('open-sans-greek-ext-700italic.woff') format('woff');
}