@font-face {
    font-family: 'Peddana';
    font-style: 'normal';
    font-weight: 400;
    src: local('Peddana Regular'), local('Peddana-Regular'),
         url('peddana-latin-regular.woff2') format('woff2'),
         url('peddana-latin-regular.woff') format('woff');
}