@font-face {
    font-family: 'Space Mono';
    font-style: 'normal';
    font-weight: 400;
    src: local('Space Mono Regular'), local('SpaceMono-Regular'),
         url('space-mono-latin-regular.woff2') format('woff2'),
         url('space-mono-latin-regular.woff') format('woff');
}