@font-face {
    font-family: 'Space Mono';
    font-style: 'normal';
    font-weight: 700;
    src: local('Space Mono Bold'), local('SpaceMono-Bold'),
         url('space-mono-latin-700.woff2') format('woff2'),
         url('space-mono-latin-700.woff') format('woff');
}