@font-face {
    font-family: 'Libre Barcode 39 Extended Text';
    font-style: 'normal';
    font-weight: 400;
    src: local('Libre Barcode 39 Extended Text Regular'), local('LibreBarcode39ExtendedText-Regular'),
         url('libre-barcode-39-extended-text-latin-regular.woff2') format('woff2'),
         url('libre-barcode-39-extended-text-latin-regular.woff') format('woff');
}