@font-face {
    font-family: 'Vibur';
    font-style: 'normal';
    font-weight: 400;
    src: local('Vibur Regular'), local('Vibur-Regular'),
         url('vibur-latin-regular.woff2') format('woff2'),
         url('vibur-latin-regular.woff') format('woff');
}