@font-face {
    font-family: 'Mali';
    font-style: 'normal';
    font-weight: 300;
    src: local('Mali Light'), local('Mali-Light'),
         url('mali-latin-300.woff2') format('woff2'),
         url('mali-latin-300.woff') format('woff');
}