@font-face {
    font-family: 'Mali';
    font-style: 'normal';
    font-weight: 400;
    src: local('Mali Regular'), local('Mali-Regular'),
         url('mali-latin-regular.woff2') format('woff2'),
         url('mali-latin-regular.woff') format('woff');
}