@font-face {
    font-family: 'Mali';
    font-style: 'normal';
    font-weight: 200;
    src: local('Mali ExtraLight'), local('Mali-ExtraLight'),
         url('mali-latin-200.woff2') format('woff2'),
         url('mali-latin-200.woff') format('woff');
}