@font-face {
    font-family: 'Pavanam';
    font-style: 'normal';
    font-weight: 400;
    src: local('Pavanam Regular'), local('Pavanam-Regular'),
         url('pavanam-latin-regular.woff2') format('woff2'),
         url('pavanam-latin-regular.woff') format('woff');
}