@font-face {
    font-family: 'Duru Sans';
    font-style: 'normal';
    font-weight: 400;
    src: local('Duru Sans Regular'), local('DuruSans-Regular'),
         url('duru-sans-latin-regular.woff2') format('woff2'),
         url('duru-sans-latin-regular.woff') format('woff');
}