@font-face {
    font-family: 'Miriam Libre';
    font-style: 'normal';
    font-weight: 700;
    src: local('Miriam Libre Bold'), local('MiriamLibre-Bold'),
         url('miriam-libre-latin-700.woff2') format('woff2'),
         url('miriam-libre-latin-700.woff') format('woff');
}