@font-face {
    font-family: 'Nixie One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Nixie One Regular'), local('NixieOne-Regular'),
         url('nixie-one-latin-regular.woff2') format('woff2'),
         url('nixie-one-latin-regular.woff') format('woff');
}