@font-face {
    font-family: 'Coda';
    font-style: 'normal';
    font-weight: 400;
    src: local('Coda Regular'), local('Coda-Regular'),
         url('coda-latin-regular.woff2') format('woff2'),
         url('coda-latin-regular.woff') format('woff');
}