@font-face {
    font-family: 'Sedgwick Ave Display';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sedgwick Ave Display Regular'), local('SedgwickAveDisplay-Regular'),
         url('sedgwick-ave-display-latin-regular.woff2') format('woff2'),
         url('sedgwick-ave-display-latin-regular.woff') format('woff');
}