@font-face {
    font-family: 'Katibeh';
    font-style: 'normal';
    font-weight: 400;
    src: local('Katibeh Regular'), local('Katibeh-Regular'),
         url('katibeh-latin-regular.woff2') format('woff2'),
         url('katibeh-latin-regular.woff') format('woff');
}