@font-face {
    font-family: 'Sree Krushnadevaraya';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sree Krushnadevaraya Regular'), local('SreeKrushnadevaraya-Regular'),
         url('sree-krushnadevaraya-latin-regular.woff2') format('woff2'),
         url('sree-krushnadevaraya-latin-regular.woff') format('woff');
}