@font-face {
    font-family: 'Source Code Pro';
    font-style: 'normal';
    font-weight: 900;
    src: local('Source Code Pro Black'), local('SourceCodePro-Black'),
         url('source-code-pro-latin-900.woff2') format('woff2'),
         url('source-code-pro-latin-900.woff') format('woff');
}