@font-face {
    font-family: 'Mukta Vaani';
    font-style: 'normal';
    font-weight: 200;
    src: local('Mukta Vaani ExtraLight'), local('MuktaVaani-ExtraLight'),
         url('mukta-vaani-latin-200.woff2') format('woff2'),
         url('mukta-vaani-latin-200.woff') format('woff');
}