@font-face {
    font-family: 'Mukta Vaani';
    font-style: 'normal';
    font-weight: 400;
    src: local('Mukta Vaani Regular'), local('MuktaVaani-Regular'),
         url('mukta-vaani-latin-regular.woff2') format('woff2'),
         url('mukta-vaani-latin-regular.woff') format('woff');
}