@font-face {
    font-family: 'Limelight';
    font-style: 'normal';
    font-weight: 400;
    src: local('Limelight Regular'), local('Limelight-Regular'),
         url('limelight-latin-regular.woff2') format('woff2'),
         url('limelight-latin-regular.woff') format('woff');
}