@font-face {
    font-family: 'Gidugu';
    font-style: 'normal';
    font-weight: 400;
    src: local('Gidugu Regular'), local('Gidugu-Regular'),
         url('gidugu-latin-regular.woff2') format('woff2'),
         url('gidugu-latin-regular.woff') format('woff');
}