@font-face {
    font-family: 'Hind Vadodara';
    font-style: 'normal';
    font-weight: 600;
    src: local('Hind Vadodara SemiBold'), local('HindVadodara-SemiBold'),
         url('hind-vadodara-latin-ext_latin_gujarati-600.woff2') format('woff2'),
         url('hind-vadodara-latin-ext_latin_gujarati-600.woff') format('woff');
}