@font-face {
    font-family: 'Vollkorn';
    font-style: 'normal';
    font-weight: 900;
    src: local('Vollkorn Black'), local('Vollkorn-Black'),
         url('vollkorn-latin-900.woff2') format('woff2'),
         url('vollkorn-latin-900.woff') format('woff');
}