@font-face {
    font-family: 'Jockey One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Jockey One Regular'), local('JockeyOne-Regular'),
         url('jockey-one-latin-regular.woff2') format('woff2'),
         url('jockey-one-latin-regular.woff') format('woff');
}