@font-face {
    font-family: 'Play';
    font-style: 'normal';
    font-weight: 700;
    src: local('Play Bold'), local('Play-Bold'),
         url('play-latin-700.woff2') format('woff2'),
         url('play-latin-700.woff') format('woff');
}