@font-face {
    font-family: 'Medula One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Medula One Regular'), local('MedulaOne-Regular'),
         url('medula-one-latin-regular.woff2') format('woff2'),
         url('medula-one-latin-regular.woff') format('woff');
}