@font-face {
    font-family: 'Michroma';
    font-style: 'normal';
    font-weight: 400;
    src: local('Michroma Regular'), local('Michroma-Regular'),
         url('michroma-latin-regular.woff2') format('woff2'),
         url('michroma-latin-regular.woff') format('woff');
}