@font-face {
    font-family: 'Flamenco';
    font-style: 'normal';
    font-weight: 400;
    src: local('Flamenco Regular'), local('Flamenco-Regular'),
         url('flamenco-latin-regular.woff2') format('woff2'),
         url('flamenco-latin-regular.woff') format('woff');
}