@font-face {
    font-family: 'Fantasque Sans Mono';
    font-style: 'normal';
    font-weight: 700;
    src: local('Fantasque Sans Mono Bold'), local('FantasqueSansMono-Bold'),
         url('fantasque-sans-mono-latin-700.woff2') format('woff2'),
         url('fantasque-sans-mono-latin-700.woff') format('woff');
}