@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 400;
    src: local('Kanit Regular'), local('Kanit-Regular'),
         url('kanit-thai_latin-regular.woff2') format('woff2'),
         url('kanit-thai_latin-regular.woff') format('woff');
}