@font-face {
    font-family: 'Montserrat';
    font-style: 'normal';
    font-weight: 900;
    src: local('Montserrat Black'), local('Montserrat-Black'),
         url('montserrat-latin-900.woff2') format('woff2'),
         url('montserrat-latin-900.woff') format('woff');
}