@font-face {
    font-family: 'Montserrat';
    font-style: 'normal';
    font-weight: 300;
    src: local('Montserrat Light'), local('Montserrat-Light'),
         url('montserrat-latin-300.woff2') format('woff2'),
         url('montserrat-latin-300.woff') format('woff');
}