@font-face {
    font-family: 'Federant';
    font-style: 'normal';
    font-weight: 400;
    src: local('Federant Regular'), local('Federant-Regular'),
         url('federant-latin-regular.woff2') format('woff2'),
         url('federant-latin-regular.woff') format('woff');
}