@font-face {
    font-family: 'Chathura';
    font-style: 'normal';
    font-weight: 400;
    src: local('Chathura Regular'), local('Chathura-Regular'),
         url('chathura-latin-regular.woff2') format('woff2'),
         url('chathura-latin-regular.woff') format('woff');
}