@font-face {
    font-family: 'Chathura';
    font-style: 'normal';
    font-weight: 100;
    src: local('Chathura Thin'), local('Chathura-Thin'),
         url('chathura-latin-100.woff2') format('woff2'),
         url('chathura-latin-100.woff') format('woff');
}