@font-face {
    font-family: 'Chathura';
    font-style: 'normal';
    font-weight: 700;
    src: local('Chathura Bold'), local('Chathura-Bold'),
         url('chathura-latin-700.woff2') format('woff2'),
         url('chathura-latin-700.woff') format('woff');
}