@font-face {
    font-family: 'Chathura';
    font-style: 'normal';
    font-weight: 300;
    src: local('Chathura Light'), local('Chathura-Light'),
         url('chathura-latin-300.woff2') format('woff2'),
         url('chathura-latin-300.woff') format('woff');
}