@font-face {
    font-family: 'Questrial';
    font-style: 'normal';
    font-weight: 400;
    src: local('Questrial Regular'), local('Questrial-Regular'),
         url('questrial-latin-regular.woff2') format('woff2'),
         url('questrial-latin-regular.woff') format('woff');
}