@font-face {
    font-family: 'Monda';
    font-style: 'normal';
    font-weight: 700;
    src: local('Monda Bold'), local('Monda-Bold'),
         url('monda-latin-700.woff2') format('woff2'),
         url('monda-latin-700.woff') format('woff');
}