@font-face {
    font-family: 'Monda';
    font-style: 'normal';
    font-weight: 400;
    src: local('Monda Regular'), local('Monda-Regular'),
         url('monda-latin-regular.woff2') format('woff2'),
         url('monda-latin-regular.woff') format('woff');
}