@font-face {
    font-family: 'Anonymous Pro';
    font-style: 'normal';
    font-weight: 700;
    src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'),
         url('anonymous-pro-latin-700.woff2') format('woff2'),
         url('anonymous-pro-latin-700.woff') format('woff');
}