@font-face {
    font-family: 'Cuprum';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cuprum Bold'), local('Cuprum-Bold'),
         url('cuprum-latin-700.woff2') format('woff2'),
         url('cuprum-latin-700.woff') format('woff');
}