@font-face {
    font-family: 'Cuprum';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cuprum Regular'), local('Cuprum-Regular'),
         url('cuprum-latin-regular.woff2') format('woff2'),
         url('cuprum-latin-regular.woff') format('woff');
}