@font-face {
    font-family: 'Arimo';
    font-style: 'normal';
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'),
         url('arimo-greek_latin_hebrew_cyrillic_vietnamese-regular.woff2') format('woff2'),
         url('arimo-greek_latin_hebrew_cyrillic_vietnamese-regular.woff') format('woff');
}