@font-face {
    font-family: 'Cormorant';
    font-style: 'italic';
    font-weight: 900;
    src: local('Cormorant Black Italic'), local('Cormorant-BlackItalic'),
         url('cormorant-latin-italic.woff2') format('woff2'),
         url('cormorant-latin-italic.woff') format('woff');
}