@font-face {
    font-family: 'Cormorant';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cormorant Bold'), local('Cormorant-Bold'),
         url('cormorant-latin-700.woff2') format('woff2'),
         url('cormorant-latin-700.woff') format('woff');
}