@font-face {
    font-family: 'Cormorant';
    font-style: 'normal';
    font-weight: 500;
    src: local('Cormorant Medium'), local('Cormorant-Medium'),
         url('cormorant-latin-500.woff2') format('woff2'),
         url('cormorant-latin-500.woff') format('woff');
}