@font-face {
    font-family: 'Cormorant';
    font-style: 'normal';
    font-weight: 300;
    src: local('Cormorant Light'), local('Cormorant-Light'),
         url('cormorant-latin-300.woff2') format('woff2'),
         url('cormorant-latin-300.woff') format('woff');
}