@font-face {
    font-family: 'Cormorant';
    font-style: 'italic';
    font-weight: 500;
    src: local('Cormorant Medium Italic'), local('Cormorant-MediumItalic'),
         url('cormorant-latin-500italic.woff2') format('woff2'),
         url('cormorant-latin-500italic.woff') format('woff');
}