@font-face {
    font-family: 'Encode Sans Expanded';
    font-style: 'normal';
    font-weight: 200;
    src: local('Encode Sans Expanded ExtraLight'), local('EncodeSansExpanded-ExtraLight'),
         url('encode-sans-expanded-latin-200.woff2') format('woff2'),
         url('encode-sans-expanded-latin-200.woff') format('woff');
}