@font-face {
    font-family: 'Encode Sans Expanded';
    font-style: 'normal';
    font-weight: 500;
    src: local('Encode Sans Expanded Medium'), local('EncodeSansExpanded-Medium'),
         url('encode-sans-expanded-latin-500.woff2') format('woff2'),
         url('encode-sans-expanded-latin-500.woff') format('woff');
}