@font-face {
    font-family: 'Playfair Display';
    font-style: 'normal';
    font-weight: 400;
    src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
         url('playfair-display-latin-regular.woff2') format('woff2'),
         url('playfair-display-latin-regular.woff') format('woff');
}