@font-face {
    font-family: 'Playfair Display';
    font-style: 'normal';
    font-weight: 700;
    src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
         url('playfair-display-latin-700.woff2') format('woff2'),
         url('playfair-display-latin-700.woff') format('woff');
}