@font-face {
    font-family: 'Yeseva One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Yeseva One Regular'), local('YesevaOne-Regular'),
         url('yeseva-one-latin-regular.woff2') format('woff2'),
         url('yeseva-one-latin-regular.woff') format('woff');
}