@font-face {
    font-family: 'Eczar';
    font-style: 'normal';
    font-weight: 700;
    src: local('Eczar Bold'), local('Eczar-Bold'),
         url('eczar-latin-700.woff2') format('woff2'),
         url('eczar-latin-700.woff') format('woff');
}