@font-face {
    font-family: 'Wire One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Wire One Regular'), local('WireOne-Regular'),
         url('wire-one-latin-regular.woff2') format('woff2'),
         url('wire-one-latin-regular.woff') format('woff');
}