@font-face {
    font-family: 'Kodchasan';
    font-style: 'normal';
    font-weight: 400;
    src: local('Kodchasan Regular'), local('Kodchasan-Regular'),
         url('kodchasan-latin-regular.woff2') format('woff2'),
         url('kodchasan-latin-regular.woff') format('woff');
}