@font-face {
    font-family: 'Roboto';
    font-style: 'italic';
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
         url('roboto-latin-ext-700italic.woff2') format('woff2'),
         url('roboto-latin-ext-700italic.woff') format('woff');
}