@font-face {
    font-family: 'Roboto';
    font-style: 'normal';
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'),
         url('roboto-latin-ext-regular.woff2') format('woff2'),
         url('roboto-latin-ext-regular.woff') format('woff');
}