@font-face {
    font-family: 'Della Respira';
    font-style: 'normal';
    font-weight: 400;
    src: local('Della Respira Regular'), local('DellaRespira-Regular'),
         url('della-respira-latin-regular.woff2') format('woff2'),
         url('della-respira-latin-regular.woff') format('woff');
}