@font-face {
    font-family: 'Autour One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Autour One Regular'), local('AutourOne-Regular'),
         url('autour-one-latin-regular.woff2') format('woff2'),
         url('autour-one-latin-regular.woff') format('woff');
}