@font-face {
    font-family: 'Diplomata';
    font-style: 'normal';
    font-weight: 400;
    src: local('Diplomata Regular'), local('Diplomata-Regular'),
         url('diplomata-latin-regular.woff2') format('woff2'),
         url('diplomata-latin-regular.woff') format('woff');
}