@font-face {
    font-family: 'Vollkorn SC';
    font-style: 'normal';
    font-weight: 700;
    src: local('Vollkorn SC Bold'), local('VollkornSC-Bold'),
         url('vollkorn-sc-latin-700.woff2') format('woff2'),
         url('vollkorn-sc-latin-700.woff') format('woff');
}