@font-face {
    font-family: 'Vollkorn SC';
    font-style: 'normal';
    font-weight: 400;
    src: local('Vollkorn SC Regular'), local('VollkornSC-Regular'),
         url('vollkorn-sc-latin-regular.woff2') format('woff2'),
         url('vollkorn-sc-latin-regular.woff') format('woff');
}