@font-face {
    font-family: 'Mukta Malar';
    font-style: 'normal';
    font-weight: 300;
    src: local('Mukta Malar Light'), local('MuktaMalar-Light'),
         url('mukta-malar-latin-ext_tamil_latin-300.woff2') format('woff2'),
         url('mukta-malar-latin-ext_tamil_latin-300.woff') format('woff');
}