@font-face {
    font-family: 'Mukta Malar';
    font-style: 'normal';
    font-weight: 200;
    src: local('Mukta Malar ExtraLight'), local('MuktaMalar-ExtraLight'),
         url('mukta-malar-latin-ext_tamil_latin-200.woff2') format('woff2'),
         url('mukta-malar-latin-ext_tamil_latin-200.woff') format('woff');
}