@font-face {
    font-family: 'Mukta Malar';
    font-style: 'normal';
    font-weight: 400;
    src: local('Mukta Malar Regular'), local('MuktaMalar-Regular'),
         url('mukta-malar-latin-ext_tamil_latin-regular.woff2') format('woff2'),
         url('mukta-malar-latin-ext_tamil_latin-regular.woff') format('woff');
}