@font-face {
    font-family: 'Mukta Malar';
    font-style: 'normal';
    font-weight: 700;
    src: local('Mukta Malar Bold'), local('MuktaMalar-Bold'),
         url('mukta-malar-latin-ext_tamil_latin-700.woff2') format('woff2'),
         url('mukta-malar-latin-ext_tamil_latin-700.woff') format('woff');
}