@font-face {
    font-family: 'Assistant';
    font-style: 'normal';
    font-weight: 700;
    src: local('Assistant Bold'), local('Assistant-Bold'),
         url('assistant-latin-700.woff2') format('woff2'),
         url('assistant-latin-700.woff') format('woff');
}