@font-face {
    font-family: 'Assistant';
    font-style: 'normal';
    font-weight: 400;
    src: local('Assistant Regular'), local('Assistant-Regular'),
         url('assistant-latin-regular.woff2') format('woff2'),
         url('assistant-latin-regular.woff') format('woff');
}