@font-face {
    font-family: 'Heebo';
    font-style: 'normal';
    font-weight: 900;
    src: local('Heebo Black'), local('Heebo-Black'),
         url('heebo-latin-900.woff2') format('woff2'),
         url('heebo-latin-900.woff') format('woff');
}