@font-face {
    font-family: 'Heebo';
    font-style: 'normal';
    font-weight: 800;
    src: local('Heebo ExtraBold'), local('Heebo-ExtraBold'),
         url('heebo-latin-800.woff2') format('woff2'),
         url('heebo-latin-800.woff') format('woff');
}