@font-face {
    font-family: 'Heebo';
    font-style: 'normal';
    font-weight: 700;
    src: local('Heebo Bold'), local('Heebo-Bold'),
         url('heebo-latin-700.woff2') format('woff2'),
         url('heebo-latin-700.woff') format('woff');
}