@font-face {
    font-family: 'Heebo';
    font-style: 'normal';
    font-weight: 300;
    src: local('Heebo Light'), local('Heebo-Light'),
         url('heebo-latin-300.woff2') format('woff2'),
         url('heebo-latin-300.woff') format('woff');
}