@font-face {
    font-family: 'Heebo';
    font-style: 'normal';
    font-weight: 400;
    src: local('Heebo Regular'), local('Heebo-Regular'),
         url('heebo-latin-regular.woff2') format('woff2'),
         url('heebo-latin-regular.woff') format('woff');
}