@font-face {
    font-family: 'Marcellus SC';
    font-style: 'normal';
    font-weight: 400;
    src: local('Marcellus SC Regular'), local('MarcellusSC-Regular'),
         url('marcellus-sc-latin-regular.woff2') format('woff2'),
         url('marcellus-sc-latin-regular.woff') format('woff');
}