@font-face {
    font-family: 'Buda';
    font-style: 'normal';
    font-weight: 300;
    src: local('Buda Light'), local('Buda-Light'),
         url('buda-latin-300.woff2') format('woff2'),
         url('buda-latin-300.woff') format('woff');
}