@font-face {
    font-family: 'Overpass Mono';
    font-style: 'normal';
    font-weight: 300;
    src: local('Overpass Mono Light'), local('OverpassMono-Light'),
         url('overpass-mono-latin-300.woff2') format('woff2'),
         url('overpass-mono-latin-300.woff') format('woff');
}