@font-face {
    font-family: 'Prompt';
    font-style: 'normal';
    font-weight: 500;
    src: local('Prompt Medium'), local('Prompt-Medium'),
         url('prompt-latin-500.woff2') format('woff2'),
         url('prompt-latin-500.woff') format('woff');
}