@font-face {
    font-family: 'Prompt';
    font-style: 'normal';
    font-weight: 600;
    src: local('Prompt SemiBold'), local('Prompt-SemiBold'),
         url('prompt-latin-600.woff2') format('woff2'),
         url('prompt-latin-600.woff') format('woff');
}