@font-face {
    font-family: 'Harmattan';
    font-style: 'normal';
    font-weight: 400;
    src: local('Harmattan Regular'), local('Harmattan-Regular'),
         url('harmattan-latin-regular.woff2') format('woff2'),
         url('harmattan-latin-regular.woff') format('woff');
}