@font-face {
    font-family: 'Podkova';
    font-style: 'normal';
    font-weight: 600;
    src: local('Podkova SemiBold'), local('Podkova-SemiBold'),
         url('podkova-latin-600.woff2') format('woff2'),
         url('podkova-latin-600.woff') format('woff');
}