@font-face {
    font-family: 'Podkova';
    font-style: 'normal';
    font-weight: 500;
    src: local('Podkova Medium'), local('Podkova-Medium'),
         url('podkova-latin-500.woff2') format('woff2'),
         url('podkova-latin-500.woff') format('woff');
}