@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 900;
    src: local('Kanit Black'), local('Kanit-Black'),
         url('kanit-thai-900.woff2') format('woff2'),
         url('kanit-thai-900.woff') format('woff');
}