@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 700;
    src: local('Kanit Bold'), local('Kanit-Bold'),
         url('kanit-thai-700.woff2') format('woff2'),
         url('kanit-thai-700.woff') format('woff');
}