@font-face {
    font-family: 'Mukta Mahee';
    font-style: 'normal';
    font-weight: 600;
    src: local('Mukta Mahee SemiBold'), local('MuktaMahee-SemiBold'),
         url('mukta-mahee-gurmukhi_latin-ext_latin-600.woff2') format('woff2'),
         url('mukta-mahee-gurmukhi_latin-ext_latin-600.woff') format('woff');
}