@font-face {
    font-family: 'Mukta Mahee';
    font-style: 'normal';
    font-weight: 800;
    src: local('Mukta Mahee ExtraBold'), local('MuktaMahee-ExtraBold'),
         url('mukta-mahee-gurmukhi_latin-ext_latin-800.woff2') format('woff2'),
         url('mukta-mahee-gurmukhi_latin-ext_latin-800.woff') format('woff');
}