@font-face {
    font-family: 'Mukta Mahee';
    font-style: 'normal';
    font-weight: 700;
    src: local('Mukta Mahee Bold'), local('MuktaMahee-Bold'),
         url('mukta-mahee-gurmukhi_latin-ext_latin-700.woff2') format('woff2'),
         url('mukta-mahee-gurmukhi_latin-ext_latin-700.woff') format('woff');
}