@font-face {
    font-family: 'Carrois Gothic';
    font-style: 'normal';
    font-weight: 400;
    src: local('Carrois Gothic Regular'), local('CarroisGothic-Regular'),
         url('carrois-gothic-latin-regular.woff2') format('woff2'),
         url('carrois-gothic-latin-regular.woff') format('woff');
}