@font-face {
    font-family: 'Farsan';
    font-style: 'normal';
    font-weight: 400;
    src: local('Farsan Regular'), local('Farsan-Regular'),
         url('farsan-latin-regular.woff2') format('woff2'),
         url('farsan-latin-regular.woff') format('woff');
}