@font-face {
    font-family: 'Ravi Prakash';
    font-style: 'normal';
    font-weight: 400;
    src: local('Ravi Prakash Regular'), local('RaviPrakash-Regular'),
         url('ravi-prakash-latin-regular.woff2') format('woff2'),
         url('ravi-prakash-latin-regular.woff') format('woff');
}