@font-face {
    font-family: 'Dr Sugiyama';
    font-style: 'normal';
    font-weight: 400;
    src: local('Dr Sugiyama Regular'), local('DrSugiyama-Regular'),
         url('dr-sugiyama-latin-regular.woff2') format('woff2'),
         url('dr-sugiyama-latin-regular.woff') format('woff');
}