@font-face {
    font-family: 'Kreon';
    font-style: 'normal';
    font-weight: 400;
    src: local('Kreon Regular'), local('Kreon-Regular'),
         url('kreon-latin-regular.woff2') format('woff2'),
         url('kreon-latin-regular.woff') format('woff');
}