@font-face {
    font-family: 'Spectral SC';
    font-style: 'normal';
    font-weight: 700;
    src: local('Spectral SC Bold'), local('SpectralSC-Bold'),
         url('spectral-sc-latin-700.woff2') format('woff2'),
         url('spectral-sc-latin-700.woff') format('woff');
}