@font-face {
    font-family: 'Spectral SC';
    font-style: 'normal';
    font-weight: 800;
    src: local('Spectral SC ExtraBold'), local('SpectralSC-ExtraBold'),
         url('spectral-sc-latin-800.woff2') format('woff2'),
         url('spectral-sc-latin-800.woff') format('woff');
}