@font-face {
    font-family: 'Spectral SC';
    font-style: 'italic';
    font-weight: 800;
    src: local('Spectral SC ExtraBold Italic'), local('SpectralSC-ExtraBoldItalic'),
         url('spectral-sc-latin-800italic.woff2') format('woff2'),
         url('spectral-sc-latin-800italic.woff') format('woff');
}