@font-face {
    font-family: 'Alex Brush';
    font-style: 'normal';
    font-weight: 400;
    src: local('Alex Brush Regular'), local('AlexBrush-Regular'),
         url('alex-brush-latin-regular.woff2') format('woff2'),
         url('alex-brush-latin-regular.woff') format('woff');
}