@font-face {
    font-family: 'Inika';
    font-style: 'normal';
    font-weight: 400;
    src: local('Inika Regular'), local('Inika-Regular'),
         url('inika-latin-regular.woff2') format('woff2'),
         url('inika-latin-regular.woff') format('woff');
}