@font-face {
    font-family: 'Inika';
    font-style: 'normal';
    font-weight: 700;
    src: local('Inika Bold'), local('Inika-Bold'),
         url('inika-latin-700.woff2') format('woff2'),
         url('inika-latin-700.woff') format('woff');
}