@font-face {
    font-family: 'Playfair Display SC';
    font-style: 'normal';
    font-weight: 700;
    src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'),
         url('playfair-display-sc-latin-700.woff2') format('woff2'),
         url('playfair-display-sc-latin-700.woff') format('woff');
}