@font-face {
    font-family: 'Playfair Display SC';
    font-style: 'italic';
    font-weight: 900;
    src: local('Playfair Display SC Black Italic'), local('PlayfairDisplaySC-BlackItalic'),
         url('playfair-display-sc-latin-italic.woff2') format('woff2'),
         url('playfair-display-sc-latin-italic.woff') format('woff');
}