@font-face {
    font-family: 'Hind Vadodara';
    font-style: 'normal';
    font-weight: 500;
    src: local('Hind Vadodara Medium'), local('HindVadodara-Medium'),
         url('hind-vadodara-latin-500.woff2') format('woff2'),
         url('hind-vadodara-latin-500.woff') format('woff');
}