@font-face {
    font-family: 'Hind Vadodara';
    font-style: 'normal';
    font-weight: 400;
    src: local('Hind Vadodara Regular'), local('HindVadodara-Regular'),
         url('hind-vadodara-latin-regular.woff2') format('woff2'),
         url('hind-vadodara-latin-regular.woff') format('woff');
}