@font-face {
    font-family: 'Cantarell';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cantarell Regular'), local('Cantarell-Regular'),
         url('cantarell-latin-regular.woff2') format('woff2'),
         url('cantarell-latin-regular.woff') format('woff');
}