@font-face {
    font-family: 'Martel';
    font-style: 'normal';
    font-weight: 300;
    src: local('Martel Light'), local('Martel-Light'),
         url('martel-latin-300.woff2') format('woff2'),
         url('martel-latin-300.woff') format('woff');
}