@font-face {
    font-family: 'Actor';
    font-style: 'normal';
    font-weight: 400;
    src: local('Actor Regular'), local('Actor-Regular'),
         url('actor-latin-regular.woff2') format('woff2'),
         url('actor-latin-regular.woff') format('woff');
}