@font-face {
    font-family: 'Lalezar';
    font-style: 'normal';
    font-weight: 400;
    src: local('Lalezar Regular'), local('Lalezar-Regular'),
         url('lalezar-latin-regular.woff2') format('woff2'),
         url('lalezar-latin-regular.woff') format('woff');
}