@font-face {
    font-family: 'Philosopher';
    font-style: 'normal';
    font-weight: 400;
    src: local('Philosopher Regular'), local('Philosopher-Regular'),
         url('philosopher-latin-regular.woff2') format('woff2'),
         url('philosopher-latin-regular.woff') format('woff');
}