@font-face {
    font-family: 'Niramit';
    font-style: 'normal';
    font-weight: 200;
    src: local('Niramit ExtraLight'), local('Niramit-ExtraLight'),
         url('niramit-latin-200.woff2') format('woff2'),
         url('niramit-latin-200.woff') format('woff');
}