@font-face {
    font-family: 'Niramit';
    font-style: 'normal';
    font-weight: 300;
    src: local('Niramit Light'), local('Niramit-Light'),
         url('niramit-latin-300.woff2') format('woff2'),
         url('niramit-latin-300.woff') format('woff');
}