@font-face {
    font-family: 'Niramit';
    font-style: 'normal';
    font-weight: 700;
    src: local('Niramit Bold'), local('Niramit-Bold'),
         url('niramit-latin-700.woff2') format('woff2'),
         url('niramit-latin-700.woff') format('woff');
}