@font-face {
    font-family: 'Niramit';
    font-style: 'normal';
    font-weight: 400;
    src: local('Niramit Regular'), local('Niramit-Regular'),
         url('niramit-latin-regular.woff2') format('woff2'),
         url('niramit-latin-regular.woff') format('woff');
}