@font-face {
    font-family: 'Niconne';
    font-style: 'normal';
    font-weight: 400;
    src: local('Niconne Regular'), local('Niconne-Regular'),
         url('niconne-latin-regular.woff2') format('woff2'),
         url('niconne-latin-regular.woff') format('woff');
}