@font-face {
    font-family: 'Bai Jamjuree';
    font-style: 'normal';
    font-weight: 500;
    src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'),
         url('bai-jamjuree-latin-500.woff2') format('woff2'),
         url('bai-jamjuree-latin-500.woff') format('woff');
}