@font-face {
    font-family: 'Bai Jamjuree';
    font-style: 'normal';
    font-weight: 300;
    src: local('Bai Jamjuree Light'), local('BaiJamjuree-Light'),
         url('bai-jamjuree-latin-300.woff2') format('woff2'),
         url('bai-jamjuree-latin-300.woff') format('woff');
}