@font-face {
    font-family: 'Bai Jamjuree';
    font-style: 'normal';
    font-weight: 700;
    src: local('Bai Jamjuree Bold'), local('BaiJamjuree-Bold'),
         url('bai-jamjuree-latin-700.woff2') format('woff2'),
         url('bai-jamjuree-latin-700.woff') format('woff');
}