@font-face {
    font-family: 'Hind';
    font-style: 'normal';
    font-weight: 300;
    src: local('Hind Light'), local('Hind-Light'),
         url('hind-latin-ext_latin_devanagari-300.woff2') format('woff2'),
         url('hind-latin-ext_latin_devanagari-300.woff') format('woff');
}