@font-face {
    font-family: 'Hind';
    font-style: 'normal';
    font-weight: 400;
    src: local('Hind Regular'), local('Hind-Regular'),
         url('hind-latin-ext_latin_devanagari-regular.woff2') format('woff2'),
         url('hind-latin-ext_latin_devanagari-regular.woff') format('woff');
}