@font-face {
    font-family: 'Dosis';
    font-style: 'normal';
    font-weight: 200;
    src: local('Dosis ExtraLight'), local('Dosis-ExtraLight'),
         url('dosis-latin-200.woff2') format('woff2'),
         url('dosis-latin-200.woff') format('woff');
}