@font-face {
    font-family: 'Pontano Sans';
    font-style: 'normal';
    font-weight: 400;
    src: local('Pontano Sans Regular'), local('PontanoSans-Regular'),
         url('pontano-sans-latin-regular.woff2') format('woff2'),
         url('pontano-sans-latin-regular.woff') format('woff');
}