@font-face {
    font-family: 'Srisakdi';
    font-style: 'normal';
    font-weight: 700;
    src: local('Srisakdi Bold'), local('Srisakdi-Bold'),
         url('srisakdi-latin-700.woff2') format('woff2'),
         url('srisakdi-latin-700.woff') format('woff');
}