@font-face {
    font-family: 'Srisakdi';
    font-style: 'normal';
    font-weight: 400;
    src: local('Srisakdi Regular'), local('Srisakdi-Regular'),
         url('srisakdi-latin-regular.woff2') format('woff2'),
         url('srisakdi-latin-regular.woff') format('woff');
}