@font-face {
    font-family: 'Londrina Solid';
    font-style: 'normal';
    font-weight: 300;
    src: local('Londrina Solid Light'), local('LondrinaSolid-Light'),
         url('londrina-solid-latin-300.woff2') format('woff2'),
         url('londrina-solid-latin-300.woff') format('woff');
}