@font-face {
    font-family: 'Londrina Solid';
    font-style: 'normal';
    font-weight: 400;
    src: local('Londrina Solid Regular'), local('LondrinaSolid-Regular'),
         url('londrina-solid-latin-regular.woff2') format('woff2'),
         url('londrina-solid-latin-regular.woff') format('woff');
}