@font-face {
    font-family: 'Sarina';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sarina Regular'), local('Sarina-Regular'),
         url('sarina-latin-regular.woff2') format('woff2'),
         url('sarina-latin-regular.woff') format('woff');
}