@font-face {
    font-family: 'Nanum Gothic';
    font-style: 'normal';
    font-weight: 700;
    src: local('Nanum Gothic Bold'), local('NanumGothic-Bold'),
         url('nanum-gothic-latin-700.woff2') format('woff2'),
         url('nanum-gothic-latin-700.woff') format('woff');
}