@font-face {
    font-family: 'Mr Dafoe';
    font-style: 'normal';
    font-weight: 400;
    src: local('Mr Dafoe Regular'), local('MrDafoe-Regular'),
         url('mr-dafoe-latin-regular.woff2') format('woff2'),
         url('mr-dafoe-latin-regular.woff') format('woff');
}