@font-face {
    font-family: 'Rasa';
    font-style: 'normal';
    font-weight: 700;
    src: local('Rasa Bold'), local('Rasa-Bold'),
         url('rasa-latin-700.woff2') format('woff2'),
         url('rasa-latin-700.woff') format('woff');
}