@font-face {
    font-family: 'Rasa';
    font-style: 'normal';
    font-weight: 300;
    src: local('Rasa Light'), local('Rasa-Light'),
         url('rasa-latin-300.woff2') format('woff2'),
         url('rasa-latin-300.woff') format('woff');
}