@font-face {
    font-family: 'Rasa';
    font-style: 'normal';
    font-weight: 500;
    src: local('Rasa Medium'), local('Rasa-Medium'),
         url('rasa-latin-500.woff2') format('woff2'),
         url('rasa-latin-500.woff') format('woff');
}