@font-face {
    font-family: 'Oswald';
    font-style: 'normal';
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'),
         url('oswald-latin-700.woff2') format('woff2'),
         url('oswald-latin-700.woff') format('woff');
}