@font-face {
    font-family: 'Oswald';
    font-style: 'normal';
    font-weight: 600;
    src: local('Oswald SemiBold'), local('Oswald-SemiBold'),
         url('oswald-latin-600.woff2') format('woff2'),
         url('oswald-latin-600.woff') format('woff');
}