@font-face {
    font-family: 'Palanquin Dark';
    font-style: 'normal';
    font-weight: 600;
    src: local('Palanquin Dark SemiBold'), local('PalanquinDark-SemiBold'),
         url('palanquin-dark-latin-600.woff2') format('woff2'),
         url('palanquin-dark-latin-600.woff') format('woff');
}