@font-face {
    font-family: 'Palanquin Dark';
    font-style: 'normal';
    font-weight: 400;
    src: local('Palanquin Dark Regular'), local('PalanquinDark-Regular'),
         url('palanquin-dark-latin-regular.woff2') format('woff2'),
         url('palanquin-dark-latin-regular.woff') format('woff');
}