@font-face {
    font-family: 'Cardo';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cardo Bold'), local('Cardo-Bold'),
         url('cardo-latin-700.woff2') format('woff2'),
         url('cardo-latin-700.woff') format('woff');
}