@font-face {
    font-family: 'Cardo';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cardo Regular'), local('Cardo-Regular'),
         url('cardo-latin-regular.woff2') format('woff2'),
         url('cardo-latin-regular.woff') format('woff');
}