@font-face {
    font-family: 'Preahvihear';
    font-style: 'normal';
    font-weight: 400;
    src: local('Preahvihear Regular'), local('Preahvihear-Regular'),
         url('preahvihear-khmer-regular.woff2') format('woff2'),
         url('preahvihear-khmer-regular.woff') format('woff');
}