@font-face {
    font-family: 'Nanum Brush Script';
    font-style: 'normal';
    font-weight: 400;
    src: local('Nanum Brush Script Regular'), local('NanumBrushScript-Regular'),
         url('nanum-brush-script-latin_korean-regular.woff2') format('woff2'),
         url('nanum-brush-script-latin_korean-regular.woff') format('woff');
}