@font-face {
    font-family: 'Hind Madurai';
    font-style: 'normal';
    font-weight: 700;
    src: local('Hind Madurai Bold'), local('HindMadurai-Bold'),
         url('hind-madurai-latin-700.woff2') format('woff2'),
         url('hind-madurai-latin-700.woff') format('woff');
}