@font-face {
    font-family: 'Hind Madurai';
    font-style: 'normal';
    font-weight: 400;
    src: local('Hind Madurai Regular'), local('HindMadurai-Regular'),
         url('hind-madurai-latin-regular.woff2') format('woff2'),
         url('hind-madurai-latin-regular.woff') format('woff');
}