@font-face {
    font-family: 'Hind Madurai';
    font-style: 'normal';
    font-weight: 300;
    src: local('Hind Madurai Light'), local('HindMadurai-Light'),
         url('hind-madurai-latin-300.woff2') format('woff2'),
         url('hind-madurai-latin-300.woff') format('woff');
}