@font-face {
    font-family: 'Asset';
    font-style: 'normal';
    font-weight: 400;
    src: local('Asset Regular'), local('Asset-Regular'),
         url('asset-latin-regular.woff2') format('woff2'),
         url('asset-latin-regular.woff') format('woff');
}