@font-face {
    font-family: 'Advent Pro';
    font-style: 'normal';
    font-weight: 300;
    src: local('Advent Pro Light'), local('AdventPro-Light'),
         url('advent-pro-latin-300.woff2') format('woff2'),
         url('advent-pro-latin-300.woff') format('woff');
}