@font-face {
    font-family: 'Advent Pro';
    font-style: 'normal';
    font-weight: 200;
    src: local('Advent Pro ExtraLight'), local('AdventPro-ExtraLight'),
         url('advent-pro-latin-200.woff2') format('woff2'),
         url('advent-pro-latin-200.woff') format('woff');
}