@font-face {
    font-family: 'Advent Pro';
    font-style: 'normal';
    font-weight: 500;
    src: local('Advent Pro Medium'), local('AdventPro-Medium'),
         url('advent-pro-latin-500.woff2') format('woff2'),
         url('advent-pro-latin-500.woff') format('woff');
}