@font-face {
    font-family: 'Cormorant Upright';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cormorant Upright Regular'), local('CormorantUpright-Regular'),
         url('cormorant-upright-latin-regular.woff2') format('woff2'),
         url('cormorant-upright-latin-regular.woff') format('woff');
}