@font-face {
    font-family: 'Cormorant Upright';
    font-style: 'normal';
    font-weight: 500;
    src: local('Cormorant Upright Medium'), local('CormorantUpright-Medium'),
         url('cormorant-upright-latin-500.woff2') format('woff2'),
         url('cormorant-upright-latin-500.woff') format('woff');
}