@font-face {
    font-family: 'Cormorant Upright';
    font-style: 'normal';
    font-weight: 600;
    src: local('Cormorant Upright SemiBold'), local('CormorantUpright-SemiBold'),
         url('cormorant-upright-latin-600.woff2') format('woff2'),
         url('cormorant-upright-latin-600.woff') format('woff');
}