@font-face {
    font-family: 'Encode Sans Semi Condensed';
    font-style: 'normal';
    font-weight: 900;
    src: local('Encode Sans Semi Condensed Black'), local('EncodeSansSemiCondensed-Black'),
         url('encode-sans-semi-condensed-latin-900.woff2') format('woff2'),
         url('encode-sans-semi-condensed-latin-900.woff') format('woff');
}