@font-face {
    font-family: 'Encode Sans Semi Condensed';
    font-style: 'normal';
    font-weight: 500;
    src: local('Encode Sans Semi Condensed Medium'), local('EncodeSansSemiCondensed-Medium'),
         url('encode-sans-semi-condensed-latin-500.woff2') format('woff2'),
         url('encode-sans-semi-condensed-latin-500.woff') format('woff');
}