@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 300;
    src: local('Saira Condensed Light'), local('SairaCondensed-Light'),
         url('saira-condensed-latin-300.woff2') format('woff2'),
         url('saira-condensed-latin-300.woff') format('woff');
}