@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 800;
    src: local('Saira Condensed ExtraBold'), local('SairaCondensed-ExtraBold'),
         url('saira-condensed-latin-800.woff2') format('woff2'),
         url('saira-condensed-latin-800.woff') format('woff');
}