@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 900;
    src: local('Saira Condensed Black'), local('SairaCondensed-Black'),
         url('saira-condensed-latin-900.woff2') format('woff2'),
         url('saira-condensed-latin-900.woff') format('woff');
}