@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 200;
    src: local('Saira Condensed ExtraLight'), local('SairaCondensed-ExtraLight'),
         url('saira-condensed-latin-200.woff2') format('woff2'),
         url('saira-condensed-latin-200.woff') format('woff');
}