@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 600;
    src: local('Saira Condensed SemiBold'), local('SairaCondensed-SemiBold'),
         url('saira-condensed-latin-600.woff2') format('woff2'),
         url('saira-condensed-latin-600.woff') format('woff');
}