@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 100;
    src: local('Saira Condensed Thin'), local('SairaCondensed-Thin'),
         url('saira-condensed-latin-100.woff2') format('woff2'),
         url('saira-condensed-latin-100.woff') format('woff');
}