@font-face {
    font-family: 'Saira Condensed';
    font-style: 'normal';
    font-weight: 500;
    src: local('Saira Condensed Medium'), local('SairaCondensed-Medium'),
         url('saira-condensed-latin-500.woff2') format('woff2'),
         url('saira-condensed-latin-500.woff') format('woff');
}