@font-face {
    font-family: 'Averia Sans Libre';
    font-style: 'normal';
    font-weight: 400;
    src: local('Averia Sans Libre Regular'), local('AveriaSansLibre-Regular'),
         url('averia-sans-libre-latin-regular.woff2') format('woff2'),
         url('averia-sans-libre-latin-regular.woff') format('woff');
}