@font-face {
    font-family: 'Averia Sans Libre';
    font-style: 'italic';
    font-weight: 700;
    src: local('Averia Sans Libre Bold Italic'), local('AveriaSansLibre-BoldItalic'),
         url('averia-sans-libre-latin-700italic.woff2') format('woff2'),
         url('averia-sans-libre-latin-700italic.woff') format('woff');
}