@font-face {
    font-family: 'UnifrakturCook';
    font-style: 'normal';
    font-weight: 700;
    src: local('UnifrakturCook Bold'), local('UnifrakturCook-Bold'),
         url('unifrakturcook-latin-700.woff2') format('woff2'),
         url('unifrakturcook-latin-700.woff') format('woff');
}