@font-face {
    font-family: 'Archivo Narrow';
    font-style: 'normal';
    font-weight: 500;
    src: local('Archivo Narrow Medium'), local('ArchivoNarrow-Medium'),
         url('archivo-narrow-latin-500.woff2') format('woff2'),
         url('archivo-narrow-latin-500.woff') format('woff');
}