@font-face {
    font-family: 'Merienda';
    font-style: 'normal';
    font-weight: 400;
    src: local('Merienda Regular'), local('Merienda-Regular'),
         url('merienda-latin-regular.woff2') format('woff2'),
         url('merienda-latin-regular.woff') format('woff');
}