@font-face {
    font-family: 'Laila';
    font-style: 'normal';
    font-weight: 500;
    src: local('Laila Medium'), local('Laila-Medium'),
         url('laila-latin-500.woff2') format('woff2'),
         url('laila-latin-500.woff') format('woff');
}