@font-face {
    font-family: 'Frijole';
    font-style: 'normal';
    font-weight: 400;
    src: local('Frijole Regular'), local('Frijole-Regular'),
         url('frijole-latin-regular.woff2') format('woff2'),
         url('frijole-latin-regular.woff') format('woff');
}