@font-face {
    font-family: 'Itim';
    font-style: 'normal';
    font-weight: 400;
    src: local('Itim Regular'), local('Itim-Regular'),
         url('itim-latin-regular.woff2') format('woff2'),
         url('itim-latin-regular.woff') format('woff');
}