@font-face {
    font-family: 'Nunito Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
         url('nunito-sans-latin-700.woff2') format('woff2'),
         url('nunito-sans-latin-700.woff') format('woff');
}