@font-face {
    font-family: 'Nunito Sans';
    font-style: 'normal';
    font-weight: 300;
    src: local('Nunito Sans Light'), local('NunitoSans-Light'),
         url('nunito-sans-latin-300.woff2') format('woff2'),
         url('nunito-sans-latin-300.woff') format('woff');
}