@font-face {
    font-family: 'Nunito Sans';
    font-style: 'normal';
    font-weight: 200;
    src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
         url('nunito-sans-latin-200.woff2') format('woff2'),
         url('nunito-sans-latin-200.woff') format('woff');
}