@font-face {
    font-family: 'Nunito Sans';
    font-style: 'italic';
    font-weight: 200;
    src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'),
         url('nunito-sans-latin-200italic.woff2') format('woff2'),
         url('nunito-sans-latin-200italic.woff') format('woff');
}