@font-face {
    font-family: 'EB Garamond';
    font-style: 'normal';
    font-weight: 600;
    src: local('EB Garamond SemiBold'), local('EBGaramond-SemiBold'),
         url('eb-garamond-latin-600.woff2') format('woff2'),
         url('eb-garamond-latin-600.woff') format('woff');
}