@font-face {
    font-family: 'EB Garamond';
    font-style: 'italic';
    font-weight: 500;
    src: local('EB Garamond Medium Italic'), local('EBGaramond-MediumItalic'),
         url('eb-garamond-latin-500italic.woff2') format('woff2'),
         url('eb-garamond-latin-500italic.woff') format('woff');
}