@font-face {
    font-family: 'Noto Sans JP';
    font-style: 'normal';
    font-weight: 900;
    src: local('Noto Sans JP Black'), local('NotoSansJP-Black'),
         url('noto-sans-jp-japanese_latin-900.woff2') format('woff2'),
         url('noto-sans-jp-japanese_latin-900.woff') format('woff');
}