@font-face {
    font-family: 'Noto Sans JP';
    font-style: 'normal';
    font-weight: 400;
    src: local('Noto Sans JP Regular'), local('NotoSansJP-Regular'),
         url('noto-sans-jp-japanese_latin-regular.woff2') format('woff2'),
         url('noto-sans-jp-japanese_latin-regular.woff') format('woff');
}