@font-face {
    font-family: 'Noto Sans JP';
    font-style: 'normal';
    font-weight: 500;
    src: local('Noto Sans JP Medium'), local('NotoSansJP-Medium'),
         url('noto-sans-jp-japanese_latin-500.woff2') format('woff2'),
         url('noto-sans-jp-japanese_latin-500.woff') format('woff');
}