@font-face {
    font-family: 'Qwigley';
    font-style: 'normal';
    font-weight: 400;
    src: local('Qwigley Regular'), local('Qwigley-Regular'),
         url('qwigley-latin-regular.woff2') format('woff2'),
         url('qwigley-latin-regular.woff') format('woff');
}