@font-face {
    font-family: 'Gurajada';
    font-style: 'normal';
    font-weight: 400;
    src: local('Gurajada Regular'), local('Gurajada-Regular'),
         url('gurajada-latin-regular.woff2') format('woff2'),
         url('gurajada-latin-regular.woff') format('woff');
}