@font-face {
    font-family: 'Roboto';
    font-style: 'italic';
    font-weight: 500;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
         url('roboto-vietnamese-500italic.woff2') format('woff2'),
         url('roboto-vietnamese-500italic.woff') format('woff');
}