@font-face {
    font-family: 'Chivo';
    font-style: 'italic';
    font-weight: 700;
    src: local('Chivo Bold Italic'), local('Chivo-BoldItalic'),
         url('chivo-latin-700italic.woff2') format('woff2'),
         url('chivo-latin-700italic.woff') format('woff');
}