@font-face {
    font-family: 'Chivo';
    font-style: 'italic';
    font-weight: 900;
    src: local('Chivo Black Italic'), local('Chivo-BlackItalic'),
         url('chivo-latin-900italic.woff2') format('woff2'),
         url('chivo-latin-900italic.woff') format('woff');
}