@font-face {
    font-family: 'Fredoka One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Fredoka One Regular'), local('FredokaOne-Regular'),
         url('fredoka-one-latin-regular.woff2') format('woff2'),
         url('fredoka-one-latin-regular.woff') format('woff');
}