@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: 'normal';
    font-weight: 500;
    src: local('Alegreya Sans SC Medium'), local('AlegreyaSansSC-Medium'),
         url('alegreya-sans-sc-latin-500.woff2') format('woff2'),
         url('alegreya-sans-sc-latin-500.woff') format('woff');
}