@font-face {
    font-family: 'Alegreya Sans SC';
    font-style: 'normal';
    font-weight: 300;
    src: local('Alegreya Sans SC Light'), local('AlegreyaSansSC-Light'),
         url('alegreya-sans-sc-latin-300.woff2') format('woff2'),
         url('alegreya-sans-sc-latin-300.woff') format('woff');
}