@font-face {
    font-family: 'IBM Plex Serif';
    font-style: 'normal';
    font-weight: 400;
    src: local('IBM Plex Serif Regular'), local('IBMPlexSerif-Regular'),
         url('ibm-plex-serif-latin-regular.woff2') format('woff2'),
         url('ibm-plex-serif-latin-regular.woff') format('woff');
}