@font-face {
    font-family: 'IBM Plex Serif';
    font-style: 'normal';
    font-weight: 300;
    src: local('IBM Plex Serif Light'), local('IBMPlexSerif-Light'),
         url('ibm-plex-serif-latin-300.woff2') format('woff2'),
         url('ibm-plex-serif-latin-300.woff') format('woff');
}