@font-face {
    font-family: 'Gudea';
    font-style: 'normal';
    font-weight: 700;
    src: local('Gudea Bold'), local('Gudea-Bold'),
         url('gudea-latin-700.woff2') format('woff2'),
         url('gudea-latin-700.woff') format('woff');
}