@font-face {
    font-family: 'Atma';
    font-style: 'normal';
    font-weight: 700;
    src: local('Atma Bold'), local('Atma-Bold'),
         url('atma-latin-ext_latin_bengali-700.woff2') format('woff2'),
         url('atma-latin-ext_latin_bengali-700.woff') format('woff');
}