@font-face {
    font-family: 'Atma';
    font-style: 'normal';
    font-weight: 400;
    src: local('Atma Regular'), local('Atma-Regular'),
         url('atma-latin-ext_latin_bengali-regular.woff2') format('woff2'),
         url('atma-latin-ext_latin_bengali-regular.woff') format('woff');
}