@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: 'italic';
    font-weight: 900;
    src: local('Fira Sans Condensed Black Italic'), local('FiraSansCondensed-BlackItalic'),
         url('fira-sans-condensed-latin-italic.woff2') format('woff2'),
         url('fira-sans-condensed-latin-italic.woff') format('woff');
}