@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: 'normal';
    font-weight: 100;
    src: local('Fira Sans Condensed Thin'), local('FiraSansCondensed-Thin'),
         url('fira-sans-condensed-latin-100.woff2') format('woff2'),
         url('fira-sans-condensed-latin-100.woff') format('woff');
}