@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: 'normal';
    font-weight: 300;
    src: local('Fira Sans Condensed Light'), local('FiraSansCondensed-Light'),
         url('fira-sans-condensed-latin-300.woff2') format('woff2'),
         url('fira-sans-condensed-latin-300.woff') format('woff');
}