@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: 'normal';
    font-weight: 500;
    src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'),
         url('fira-sans-condensed-latin-500.woff2') format('woff2'),
         url('fira-sans-condensed-latin-500.woff') format('woff');
}