@font-face {
    font-family: 'Fira Sans Condensed';
    font-style: 'italic';
    font-weight: 700;
    src: local('Fira Sans Condensed Bold Italic'), local('FiraSansCondensed-BoldItalic'),
         url('fira-sans-condensed-latin-700italic.woff2') format('woff2'),
         url('fira-sans-condensed-latin-700italic.woff') format('woff');
}