@font-face {
    font-family: 'Inconsolata';
    font-style: 'normal';
    font-weight: 400;
    src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
         url('inconsolata-latin-regular.woff2') format('woff2'),
         url('inconsolata-latin-regular.woff') format('woff');
}