@font-face {
    font-family: 'Life Savers';
    font-style: 'normal';
    font-weight: 700;
    src: local('Life Savers Bold'), local('LifeSavers-Bold'),
         url('life-savers-latin-700.woff2') format('woff2'),
         url('life-savers-latin-700.woff') format('woff');
}