@font-face {
    font-family: 'Gaegu';
    font-style: 'normal';
    font-weight: 700;
    src: local('Gaegu Bold'), local('Gaegu-Bold'),
         url('gaegu-latin-700.woff2') format('woff2'),
         url('gaegu-latin-700.woff') format('woff');
}