@font-face {
    font-family: 'Wallpoet';
    font-style: 'normal';
    font-weight: 400;
    src: local('Wallpoet Regular'), local('Wallpoet-Regular'),
         url('wallpoet-latin-regular.woff2') format('woff2'),
         url('wallpoet-latin-regular.woff') format('woff');
}