@font-face {
    font-family: 'Libre Barcode 39';
    font-style: 'normal';
    font-weight: 400;
    src: local('Libre Barcode 39 Regular'), local('LibreBarcode39-Regular'),
         url('libre-barcode-39-latin-regular.woff2') format('woff2'),
         url('libre-barcode-39-latin-regular.woff') format('woff');
}