@font-face {
    font-family: 'Cormorant Unicase';
    font-style: 'normal';
    font-weight: 500;
    src: local('Cormorant Unicase Medium'), local('CormorantUnicase-Medium'),
         url('cormorant-unicase-latin-500.woff2') format('woff2'),
         url('cormorant-unicase-latin-500.woff') format('woff');
}