@font-face {
    font-family: 'Hind';
    font-style: 'normal';
    font-weight: 700;
    src: local('Hind Bold'), local('Hind-Bold'),
         url('hind-latin-700.woff2') format('woff2'),
         url('hind-latin-700.woff') format('woff');
}