@font-face {
    font-family: 'Jura';
    font-style: 'normal';
    font-weight: 700;
    src: local('Jura Bold'), local('Jura-Bold'),
         url('jura-latin-700.woff2') format('woff2'),
         url('jura-latin-700.woff') format('woff');
}