@font-face {
    font-family: 'Jura';
    font-style: 'normal';
    font-weight: 300;
    src: local('Jura Light'), local('Jura-Light'),
         url('jura-latin-300.woff2') format('woff2'),
         url('jura-latin-300.woff') format('woff');
}