@font-face {
    font-family: 'Caveat Brush';
    font-style: 'normal';
    font-weight: 400;
    src: local('Caveat Brush Regular'), local('CaveatBrush-Regular'),
         url('caveat-brush-latin-regular.woff2') format('woff2'),
         url('caveat-brush-latin-regular.woff') format('woff');
}