@font-face {
    font-family: 'Krub';
    font-style: 'normal';
    font-weight: 300;
    src: local('Krub Light'), local('Krub-Light'),
         url('krub-latin-300.woff2') format('woff2'),
         url('krub-latin-300.woff') format('woff');
}