@font-face {
    font-family: 'Krub';
    font-style: 'normal';
    font-weight: 500;
    src: local('Krub Medium'), local('Krub-Medium'),
         url('krub-latin-500.woff2') format('woff2'),
         url('krub-latin-500.woff') format('woff');
}