@font-face {
    font-family: 'Krub';
    font-style: 'normal';
    font-weight: 700;
    src: local('Krub Bold'), local('Krub-Bold'),
         url('krub-latin-700.woff2') format('woff2'),
         url('krub-latin-700.woff') format('woff');
}