@font-face {
    font-family: 'Sirin Stencil';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sirin Stencil Regular'), local('SirinStencil-Regular'),
         url('sirin-stencil-latin-regular.woff2') format('woff2'),
         url('sirin-stencil-latin-regular.woff') format('woff');
}