@font-face {
    font-family: 'Belleza';
    font-style: 'normal';
    font-weight: 400;
    src: local('Belleza Regular'), local('Belleza-Regular'),
         url('belleza-latin-regular.woff2') format('woff2'),
         url('belleza-latin-regular.woff') format('woff');
}