@font-face {
    font-family: 'Mate SC';
    font-style: 'normal';
    font-weight: 400;
    src: local('Mate SC Regular'), local('MateSC-Regular'),
         url('mate-sc-latin-regular.woff2') format('woff2'),
         url('mate-sc-latin-regular.woff') format('woff');
}