@font-face {
    font-family: 'Nokora';
    font-style: 'normal';
    font-weight: 700;
    src: local('Nokora Bold'), local('Nokora-Bold'),
         url('nokora-khmer-700.woff2') format('woff2'),
         url('nokora-khmer-700.woff') format('woff');
}