@font-face {
    font-family: 'Nanum Pen Script';
    font-style: 'normal';
    font-weight: 400;
    src: local('Nanum Pen Script Regular'), local('NanumPenScript-Regular'),
         url('nanum-pen-script-latin-regular.woff2') format('woff2'),
         url('nanum-pen-script-latin-regular.woff') format('woff');
}