@font-face {
    font-family: 'Maitree';
    font-style: 'normal';
    font-weight: 400;
    src: local('Maitree Regular'), local('Maitree-Regular'),
         url('maitree-latin-regular.woff2') format('woff2'),
         url('maitree-latin-regular.woff') format('woff');
}