@font-face {
    font-family: 'Maitree';
    font-style: 'normal';
    font-weight: 200;
    src: local('Maitree ExtraLight'), local('Maitree-ExtraLight'),
         url('maitree-latin-200.woff2') format('woff2'),
         url('maitree-latin-200.woff') format('woff');
}