@font-face {
    font-family: 'Maitree';
    font-style: 'normal';
    font-weight: 700;
    src: local('Maitree Bold'), local('Maitree-Bold'),
         url('maitree-latin-700.woff2') format('woff2'),
         url('maitree-latin-700.woff') format('woff');
}