@font-face {
    font-family: 'Khand';
    font-style: 'normal';
    font-weight: 700;
    src: local('Khand Bold'), local('Khand-Bold'),
         url('khand-latin-700.woff2') format('woff2'),
         url('khand-latin-700.woff') format('woff');
}