@font-face {
    font-family: 'Khand';
    font-style: 'normal';
    font-weight: 400;
    src: local('Khand Regular'), local('Khand-Regular'),
         url('khand-latin-regular.woff2') format('woff2'),
         url('khand-latin-regular.woff') format('woff');
}