@font-face {
    font-family: 'Unkempt';
    font-style: 'normal';
    font-weight: 700;
    src: local('Unkempt Bold'), local('Unkempt-Bold'),
         url('unkempt-latin-700.woff2') format('woff2'),
         url('unkempt-latin-700.woff') format('woff');
}