@font-face {
    font-family: 'Alegreya';
    font-style: 'italic';
    font-weight: 900;
    src: local('Alegreya Black Italic'), local('Alegreya-BlackItalic'),
         url('alegreya-latin-italic.woff2') format('woff2'),
         url('alegreya-latin-italic.woff') format('woff');
}