@font-face {
    font-family: 'Alegreya';
    font-style: 'normal';
    font-weight: 700;
    src: local('Alegreya Bold'), local('Alegreya-Bold'),
         url('alegreya-latin-700.woff2') format('woff2'),
         url('alegreya-latin-700.woff') format('woff');
}