@font-face {
    font-family: 'Alegreya';
    font-style: 'normal';
    font-weight: 500;
    src: local('Alegreya Medium'), local('Alegreya-Medium'),
         url('alegreya-latin-500.woff2') format('woff2'),
         url('alegreya-latin-500.woff') format('woff');
}