@font-face {
    font-family: 'Song Myung';
    font-style: 'normal';
    font-weight: 400;
    src: local('Song Myung Regular'), local('SongMyung-Regular'),
         url('song-myung-latin-regular.woff2') format('woff2'),
         url('song-myung-latin-regular.woff') format('woff');
}