@font-face {
    font-family: 'Sumana';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sumana Regular'), local('Sumana-Regular'),
         url('sumana-latin-regular.woff2') format('woff2'),
         url('sumana-latin-regular.woff') format('woff');
}