@font-face {
    font-family: 'Ruslan Display';
    font-style: 'normal';
    font-weight: 400;
    src: local('Ruslan Display Regular'), local('RuslanDisplay-Regular'),
         url('ruslan-display-latin-regular.woff2') format('woff2'),
         url('ruslan-display-latin-regular.woff') format('woff');
}