@font-face {
    font-family: 'Montserrat Subrayada';
    font-style: 'normal';
    font-weight: 700;
    src: local('Montserrat Subrayada Bold'), local('MontserratSubrayada-Bold'),
         url('montserrat-subrayada-latin-700.woff2') format('woff2'),
         url('montserrat-subrayada-latin-700.woff') format('woff');
}