@font-face {
    font-family: 'Arsenal';
    font-style: 'normal';
    font-weight: 400;
    src: local('Arsenal Regular'), local('Arsenal-Regular'),
         url('arsenal-latin-regular.woff2') format('woff2'),
         url('arsenal-latin-regular.woff') format('woff');
}