@font-face {
    font-family: 'Arsenal';
    font-style: 'italic';
    font-weight: 900;
    src: local('Arsenal Black Italic'), local('Arsenal-BlackItalic'),
         url('arsenal-latin-italic.woff2') format('woff2'),
         url('arsenal-latin-italic.woff') format('woff');
}