@font-face {
    font-family: 'Orbitron';
    font-style: 'normal';
    font-weight: 900;
    src: local('Orbitron Black'), local('Orbitron-Black'),
         url('orbitron-latin-900.woff2') format('woff2'),
         url('orbitron-latin-900.woff') format('woff');
}