@font-face {
    font-family: 'Orbitron';
    font-style: 'normal';
    font-weight: 400;
    src: local('Orbitron Regular'), local('Orbitron-Regular'),
         url('orbitron-latin-regular.woff2') format('woff2'),
         url('orbitron-latin-regular.woff') format('woff');
}