@font-face {
    font-family: 'Orbitron';
    font-style: 'normal';
    font-weight: 700;
    src: local('Orbitron Bold'), local('Orbitron-Bold'),
         url('orbitron-latin-700.woff2') format('woff2'),
         url('orbitron-latin-700.woff') format('woff');
}