@font-face {
    font-family: 'Arvo';
    font-style: 'normal';
    font-weight: 700;
    src: local('Arvo Bold'), local('Arvo-Bold'),
         url('arvo-latin-700.woff2') format('woff2'),
         url('arvo-latin-700.woff') format('woff');
}