@font-face {
    font-family: 'Barlow';
    font-style: 'normal';
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'),
         url('barlow-latin-700.woff2') format('woff2'),
         url('barlow-latin-700.woff') format('woff');
}