@font-face {
    font-family: 'Barlow';
    font-style: 'normal';
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'),
         url('barlow-latin-regular.woff2') format('woff2'),
         url('barlow-latin-regular.woff') format('woff');
}