@font-face {
    font-family: 'Barlow';
    font-style: 'normal';
    font-weight: 100;
    src: local('Barlow Thin'), local('Barlow-Thin'),
         url('barlow-latin-100.woff2') format('woff2'),
         url('barlow-latin-100.woff') format('woff');
}