@font-face {
    font-family: 'Barlow';
    font-style: 'normal';
    font-weight: 300;
    src: local('Barlow Light'), local('Barlow-Light'),
         url('barlow-latin-300.woff2') format('woff2'),
         url('barlow-latin-300.woff') format('woff');
}