@font-face {
    font-family: 'Barlow';
    font-style: 'normal';
    font-weight: 600;
    src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
         url('barlow-latin-600.woff2') format('woff2'),
         url('barlow-latin-600.woff') format('woff');
}