@font-face {
    font-family: 'Barlow';
    font-style: 'italic';
    font-weight: 200;
    src: local('Barlow ExtraLight Italic'), local('Barlow-ExtraLightItalic'),
         url('barlow-latin-200italic.woff2') format('woff2'),
         url('barlow-latin-200italic.woff') format('woff');
}