@font-face {
    font-family: 'Barlow';
    font-style: 'italic';
    font-weight: 500;
    src: local('Barlow Medium Italic'), local('Barlow-MediumItalic'),
         url('barlow-latin-500italic.woff2') format('woff2'),
         url('barlow-latin-500italic.woff') format('woff');
}