@font-face {
    font-family: 'Cairo';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cairo Regular'), local('Cairo-Regular'),
         url('cairo-latin-regular.woff2') format('woff2'),
         url('cairo-latin-regular.woff') format('woff');
}