@font-face {
    font-family: 'Cairo';
    font-style: 'normal';
    font-weight: 200;
    src: local('Cairo ExtraLight'), local('Cairo-ExtraLight'),
         url('cairo-latin-200.woff2') format('woff2'),
         url('cairo-latin-200.woff') format('woff');
}