@font-face {
    font-family: 'Cairo';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cairo Bold'), local('Cairo-Bold'),
         url('cairo-latin-700.woff2') format('woff2'),
         url('cairo-latin-700.woff') format('woff');
}