@font-face {
    font-family: 'Kotta One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Kotta One Regular'), local('KottaOne-Regular'),
         url('kotta-one-latin-regular.woff2') format('woff2'),
         url('kotta-one-latin-regular.woff') format('woff');
}