@font-face {
    font-family: 'Alef';
    font-style: 'normal';
    font-weight: 400;
    src: local('Alef Regular'), local('Alef-Regular'),
         url('alef-latin-regular.woff2') format('woff2'),
         url('alef-latin-regular.woff') format('woff');
}