@font-face {
    font-family: 'IM Fell English';
    font-style: 'normal';
    font-weight: 400;
    src: local('IM Fell English Regular'), local('IMFellEnglish-Regular'),
         url('im-fell-english-latin-regular.woff2') format('woff2'),
         url('im-fell-english-latin-regular.woff') format('woff');
}