@font-face {
    font-family: 'Mada';
    font-style: 'normal';
    font-weight: 900;
    src: local('Mada Black'), local('Mada-Black'),
         url('mada-latin-900.woff2') format('woff2'),
         url('mada-latin-900.woff') format('woff');
}