@font-face {
    font-family: 'Marvel';
    font-style: 'normal';
    font-weight: 400;
    src: local('Marvel Regular'), local('Marvel-Regular'),
         url('marvel-latin-regular.woff2') format('woff2'),
         url('marvel-latin-regular.woff') format('woff');
}