@font-face {
    font-family: 'Cambay';
    font-style: 'italic';
    font-weight: 700;
    src: local('Cambay Bold Italic'), local('Cambay-BoldItalic'),
         url('cambay-latin-700italic.woff2') format('woff2'),
         url('cambay-latin-700italic.woff') format('woff');
}