@font-face {
    font-family: 'Exo';
    font-style: 'italic';
    font-weight: 100;
    src: local('Exo Thin Italic'), local('Exo-ThinItalic'),
         url('exo-latin-100italic.woff2') format('woff2'),
         url('exo-latin-100italic.woff') format('woff');
}