@font-face {
    font-family: 'Exo';
    font-style: 'normal';
    font-weight: 300;
    src: local('Exo Light'), local('Exo-Light'),
         url('exo-latin-300.woff2') format('woff2'),
         url('exo-latin-300.woff') format('woff');
}