@font-face {
    font-family: 'Mukta Mahee';
    font-style: 'normal';
    font-weight: 400;
    src: local('Mukta Mahee Regular'), local('MuktaMahee-Regular'),
         url('mukta-mahee-latin-regular.woff2') format('woff2'),
         url('mukta-mahee-latin-regular.woff') format('woff');
}