@font-face {
    font-family: 'Ramaraja';
    font-style: 'normal';
    font-weight: 400;
    src: local('Ramaraja Regular'), local('Ramaraja-Regular'),
         url('ramaraja-latin-regular.woff2') format('woff2'),
         url('ramaraja-latin-regular.woff') format('woff');
}