@font-face {
    font-family: 'Tinos';
    font-style: 'normal';
    font-weight: 700;
    src: local('Tinos Bold'), local('Tinos-Bold'),
         url('tinos-latin_hebrew-700.woff2') format('woff2'),
         url('tinos-latin_hebrew-700.woff') format('woff');
}