@font-face {
    font-family: 'Mukta';
    font-style: 'normal';
    font-weight: 200;
    src: local('Mukta ExtraLight'), local('Mukta-ExtraLight'),
         url('mukta-latin-ext_latin_devanagari-200.woff2') format('woff2'),
         url('mukta-latin-ext_latin_devanagari-200.woff') format('woff');
}