@font-face {
    font-family: 'Patrick Hand SC';
    font-style: 'normal';
    font-weight: 400;
    src: local('Patrick Hand SC Regular'), local('PatrickHandSC-Regular'),
         url('patrick-hand-sc-latin-regular.woff2') format('woff2'),
         url('patrick-hand-sc-latin-regular.woff') format('woff');
}