@font-face {
    font-family: 'Noto Sans';
    font-style: 'italic';
    font-weight: 700;
    src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'),
         url('noto-sans-cyrillic-ext_cyrillic-700italic.woff2') format('woff2'),
         url('noto-sans-cyrillic-ext_cyrillic-700italic.woff') format('woff');
}