@font-face {
    font-family: 'Biryani';
    font-style: 'normal';
    font-weight: 200;
    src: local('Biryani ExtraLight'), local('Biryani-ExtraLight'),
         url('biryani-latin-200.woff2') format('woff2'),
         url('biryani-latin-200.woff') format('woff');
}