@font-face {
    font-family: 'Meie Script';
    font-style: 'normal';
    font-weight: 400;
    src: local('Meie Script Regular'), local('MeieScript-Regular'),
         url('meie-script-latin-regular.woff2') format('woff2'),
         url('meie-script-latin-regular.woff') format('woff');
}