@font-face {
    font-family: 'Cabin';
    font-style: 'italic';
    font-weight: 700;
    src: local('Cabin Bold Italic'), local('Cabin-BoldItalic'),
         url('cabin-latin-700italic.woff2') format('woff2'),
         url('cabin-latin-700italic.woff') format('woff');
}