@font-face {
    font-family: 'Cabin';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cabin Regular'), local('Cabin-Regular'),
         url('cabin-latin-regular.woff2') format('woff2'),
         url('cabin-latin-regular.woff') format('woff');
}