@font-face {
    font-family: 'Roboto Condensed';
    font-style: 'normal';
    font-weight: 300;
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
         url('roboto-condensed-latin-300.woff2') format('woff2'),
         url('roboto-condensed-latin-300.woff') format('woff');
}