@font-face {
    font-family: 'Roboto Condensed';
    font-style: 'normal';
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'),
         url('roboto-condensed-latin-regular.woff2') format('woff2'),
         url('roboto-condensed-latin-regular.woff') format('woff');
}