@font-face {
    font-family: 'Kadwa';
    font-style: 'normal';
    font-weight: 700;
    src: local('Kadwa Bold'), local('Kadwa-Bold'),
         url('kadwa-latin-700.woff2') format('woff2'),
         url('kadwa-latin-700.woff') format('woff');
}