@font-face {
    font-family: 'Patrick Hand';
    font-style: 'normal';
    font-weight: 400;
    src: local('Patrick Hand Regular'), local('PatrickHand-Regular'),
         url('patrick-hand-latin-regular.woff2') format('woff2'),
         url('patrick-hand-latin-regular.woff') format('woff');
}