@font-face {
    font-family: 'IM Fell Double Pica SC';
    font-style: 'normal';
    font-weight: 400;
    src: local('IM Fell Double Pica SC Regular'), local('IMFellDoublePicaSC-Regular'),
         url('im-fell-double-pica-sc-latin-regular.woff2') format('woff2'),
         url('im-fell-double-pica-sc-latin-regular.woff') format('woff');
}