@font-face {
    font-family: 'Karla';
    font-style: 'normal';
    font-weight: 400;
    src: local('Karla Regular'), local('Karla-Regular'),
         url('karla-latin-regular.woff2') format('woff2'),
         url('karla-latin-regular.woff') format('woff');
}