@font-face {
    font-family: 'Encode Sans Semi Expanded';
    font-style: 'normal';
    font-weight: 600;
    src: local('Encode Sans Semi Expanded SemiBold'), local('EncodeSansSemiExpanded-SemiBold'),
         url('encode-sans-semi-expanded-latin-600.woff2') format('woff2'),
         url('encode-sans-semi-expanded-latin-600.woff') format('woff');
}