@font-face {
    font-family: 'Chakra Petch';
    font-style: 'normal';
    font-weight: 500;
    src: local('Chakra Petch Medium'), local('ChakraPetch-Medium'),
         url('chakra-petch-latin-500.woff2') format('woff2'),
         url('chakra-petch-latin-500.woff') format('woff');
}