@font-face {
    font-family: 'Chakra Petch';
    font-style: 'normal';
    font-weight: 300;
    src: local('Chakra Petch Light'), local('ChakraPetch-Light'),
         url('chakra-petch-latin-300.woff2') format('woff2'),
         url('chakra-petch-latin-300.woff') format('woff');
}