@font-face {
    font-family: 'Teko';
    font-style: 'normal';
    font-weight: 400;
    src: local('Teko Regular'), local('Teko-Regular'),
         url('teko-latin-regular.woff2') format('woff2'),
         url('teko-latin-regular.woff') format('woff');
}