@font-face {
    font-family: 'Teko';
    font-style: 'normal';
    font-weight: 300;
    src: local('Teko Light'), local('Teko-Light'),
         url('teko-latin-300.woff2') format('woff2'),
         url('teko-latin-300.woff') format('woff');
}