@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 300;
    src: local('Kanit Light'), local('Kanit-Light'),
         url('kanit-thai_latin-ext_latin_vietnamese-300.woff2') format('woff2'),
         url('kanit-thai_latin-ext_latin_vietnamese-300.woff') format('woff');
}