@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 100;
    src: local('Kanit Thin'), local('Kanit-Thin'),
         url('kanit-thai_latin-ext_latin_vietnamese-100.woff2') format('woff2'),
         url('kanit-thai_latin-ext_latin_vietnamese-100.woff') format('woff');
}