@font-face {
    font-family: 'Kanit';
    font-style: 'italic';
    font-weight: 700;
    src: local('Kanit Bold Italic'), local('Kanit-BoldItalic'),
         url('kanit-thai_latin-ext_latin_vietnamese-700italic.woff2') format('woff2'),
         url('kanit-thai_latin-ext_latin_vietnamese-700italic.woff') format('woff');
}