@font-face {
    font-family: 'Kanit';
    font-style: 'italic';
    font-weight: 900;
    src: local('Kanit Black Italic'), local('Kanit-BlackItalic'),
         url('kanit-thai_latin-ext_latin_vietnamese-900italic.woff2') format('woff2'),
         url('kanit-thai_latin-ext_latin_vietnamese-900italic.woff') format('woff');
}