@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 500;
    src: local('Kanit Medium'), local('Kanit-Medium'),
         url('kanit-thai_latin-ext_latin_vietnamese-500.woff2') format('woff2'),
         url('kanit-thai_latin-ext_latin_vietnamese-500.woff') format('woff');
}