@font-face {
    font-family: 'Pangolin';
    font-style: 'normal';
    font-weight: 400;
    src: local('Pangolin Regular'), local('Pangolin-Regular'),
         url('pangolin-latin-regular.woff2') format('woff2'),
         url('pangolin-latin-regular.woff') format('woff');
}