@font-face {
    font-family: 'Spinnaker';
    font-style: 'normal';
    font-weight: 400;
    src: local('Spinnaker Regular'), local('Spinnaker-Regular'),
         url('spinnaker-latin-regular.woff2') format('woff2'),
         url('spinnaker-latin-regular.woff') format('woff');
}