@font-face {
    font-family: 'Mirza';
    font-style: 'normal';
    font-weight: 600;
    src: local('Mirza SemiBold'), local('Mirza-SemiBold'),
         url('mirza-latin-600.woff2') format('woff2'),
         url('mirza-latin-600.woff') format('woff');
}