@font-face {
    font-family: 'Mirza';
    font-style: 'normal';
    font-weight: 700;
    src: local('Mirza Bold'), local('Mirza-Bold'),
         url('mirza-latin-700.woff2') format('woff2'),
         url('mirza-latin-700.woff') format('woff');
}