@font-face {
    font-family: 'Flavors';
    font-style: 'normal';
    font-weight: 400;
    src: local('Flavors Regular'), local('Flavors-Regular'),
         url('flavors-latin-regular.woff2') format('woff2'),
         url('flavors-latin-regular.woff') format('woff');
}