@font-face {
    font-family: 'Rajdhani';
    font-style: 'normal';
    font-weight: 400;
    src: local('Rajdhani Regular'), local('Rajdhani-Regular'),
         url('rajdhani-latin-regular.woff2') format('woff2'),
         url('rajdhani-latin-regular.woff') format('woff');
}