@font-face {
    font-family: 'Rajdhani';
    font-style: 'normal';
    font-weight: 700;
    src: local('Rajdhani Bold'), local('Rajdhani-Bold'),
         url('rajdhani-latin-700.woff2') format('woff2'),
         url('rajdhani-latin-700.woff') format('woff');
}