@font-face {
    font-family: 'Rajdhani';
    font-style: 'normal';
    font-weight: 600;
    src: local('Rajdhani SemiBold'), local('Rajdhani-SemiBold'),
         url('rajdhani-latin-600.woff2') format('woff2'),
         url('rajdhani-latin-600.woff') format('woff');
}