@font-face {
    font-family: 'Signika Negative';
    font-style: 'normal';
    font-weight: 700;
    src: local('Signika Negative Bold'), local('SignikaNegative-Bold'),
         url('signika-negative-latin-700.woff2') format('woff2'),
         url('signika-negative-latin-700.woff') format('woff');
}