@font-face {
    font-family: 'Quando';
    font-style: 'normal';
    font-weight: 400;
    src: local('Quando Regular'), local('Quando-Regular'),
         url('quando-latin-regular.woff2') format('woff2'),
         url('quando-latin-regular.woff') format('woff');
}