@font-face {
    font-family: 'Mitr';
    font-style: 'normal';
    font-weight: 500;
    src: local('Mitr Medium'), local('Mitr-Medium'),
         url('mitr-latin-500.woff2') format('woff2'),
         url('mitr-latin-500.woff') format('woff');
}