@font-face {
    font-family: 'Krona One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Krona One Regular'), local('KronaOne-Regular'),
         url('krona-one-latin-regular.woff2') format('woff2'),
         url('krona-one-latin-regular.woff') format('woff');
}