@font-face {
    font-family: 'NTR';
    font-style: 'normal';
    font-weight: 400;
    src: local('NTR Regular'), local('NTR-Regular'),
         url('ntr-latin-regular.woff2') format('woff2'),
         url('ntr-latin-regular.woff') format('woff');
}