@font-face {
    font-family: 'Catamaran';
    font-style: 'normal';
    font-weight: 600;
    src: local('Catamaran SemiBold'), local('Catamaran-SemiBold'),
         url('catamaran-latin-600.woff2') format('woff2'),
         url('catamaran-latin-600.woff') format('woff');
}