@font-face {
    font-family: 'Catamaran';
    font-style: 'normal';
    font-weight: 100;
    src: local('Catamaran Thin'), local('Catamaran-Thin'),
         url('catamaran-latin-100.woff2') format('woff2'),
         url('catamaran-latin-100.woff') format('woff');
}