@font-face {
    font-family: 'Catamaran';
    font-style: 'normal';
    font-weight: 900;
    src: local('Catamaran Black'), local('Catamaran-Black'),
         url('catamaran-latin-900.woff2') format('woff2'),
         url('catamaran-latin-900.woff') format('woff');
}