@font-face {
    font-family: 'Battambang';
    font-style: 'normal';
    font-weight: 700;
    src: local('Battambang Bold'), local('Battambang-Bold'),
         url('battambang-khmer-700.woff2') format('woff2'),
         url('battambang-khmer-700.woff') format('woff');
}