@font-face {
    font-family: 'Proza Libre';
    font-style: 'normal';
    font-weight: 700;
    src: local('Proza Libre Bold'), local('ProzaLibre-Bold'),
         url('proza-libre-latin-700.woff2') format('woff2'),
         url('proza-libre-latin-700.woff') format('woff');
}