@font-face {
    font-family: 'Proza Libre';
    font-style: 'normal';
    font-weight: 600;
    src: local('Proza Libre SemiBold'), local('ProzaLibre-SemiBold'),
         url('proza-libre-latin-600.woff2') format('woff2'),
         url('proza-libre-latin-600.woff') format('woff');
}