@font-face {
    font-family: 'Proza Libre';
    font-style: 'normal';
    font-weight: 400;
    src: local('Proza Libre Regular'), local('ProzaLibre-Regular'),
         url('proza-libre-latin-regular.woff2') format('woff2'),
         url('proza-libre-latin-regular.woff') format('woff');
}