@font-face {
    font-family: 'IBM Plex Sans Condensed';
    font-style: 'normal';
    font-weight: 500;
    src: local('IBM Plex Sans Condensed Medium'), local('IBMPlexSansCondensed-Medium'),
         url('ibm-plex-sans-condensed-latin-500.woff2') format('woff2'),
         url('ibm-plex-sans-condensed-latin-500.woff') format('woff');
}