@font-face {
    font-family: 'Kameron';
    font-style: 'normal';
    font-weight: 400;
    src: local('Kameron Regular'), local('Kameron-Regular'),
         url('kameron-latin-regular.woff2') format('woff2'),
         url('kameron-latin-regular.woff') format('woff');
}