@font-face {
    font-family: 'K2D';
    font-style: 'italic';
    font-weight: 600;
    src: local('K2D SemiBold Italic'), local('K2D-SemiBoldItalic'),
         url('k2d-latin-600italic.woff2') format('woff2'),
         url('k2d-latin-600italic.woff') format('woff');
}