@font-face {
    font-family: 'K2D';
    font-style: 'normal';
    font-weight: 100;
    src: local('K2D Thin'), local('K2D-Thin'),
         url('k2d-latin-100.woff2') format('woff2'),
         url('k2d-latin-100.woff') format('woff');
}