@font-face {
    font-family: 'K2D';
    font-style: 'italic';
    font-weight: 700;
    src: local('K2D Bold Italic'), local('K2D-BoldItalic'),
         url('k2d-latin-700italic.woff2') format('woff2'),
         url('k2d-latin-700italic.woff') format('woff');
}