@font-face {
    font-family: 'Yeon Sung';
    font-style: 'normal';
    font-weight: 400;
    src: local('Yeon Sung Regular'), local('YeonSung-Regular'),
         url('yeon-sung-latin-regular.woff2') format('woff2'),
         url('yeon-sung-latin-regular.woff') format('woff');
}