@font-face {
    font-family: 'Hind Guntur';
    font-style: 'normal';
    font-weight: 300;
    src: local('Hind Guntur Light'), local('HindGuntur-Light'),
         url('hind-guntur-latin-300.woff2') format('woff2'),
         url('hind-guntur-latin-300.woff') format('woff');
}