@font-face {
    font-family: 'Tienne';
    font-style: 'normal';
    font-weight: 700;
    src: local('Tienne Bold'), local('Tienne-Bold'),
         url('tienne-latin-700.woff2') format('woff2'),
         url('tienne-latin-700.woff') format('woff');
}