@font-face {
    font-family: 'Tienne';
    font-style: 'normal';
    font-weight: 900;
    src: local('Tienne Black'), local('Tienne-Black'),
         url('tienne-latin-900.woff2') format('woff2'),
         url('tienne-latin-900.woff') format('woff');
}