@font-face {
    font-family: 'Elsie Swash Caps';
    font-style: 'normal';
    font-weight: 900;
    src: local('Elsie Swash Caps Black'), local('ElsieSwashCaps-Black'),
         url('elsie-swash-caps-latin-900.woff2') format('woff2'),
         url('elsie-swash-caps-latin-900.woff') format('woff');
}