@font-face {
    font-family: 'Elsie Swash Caps';
    font-style: 'normal';
    font-weight: 400;
    src: local('Elsie Swash Caps Regular'), local('ElsieSwashCaps-Regular'),
         url('elsie-swash-caps-latin-regular.woff2') format('woff2'),
         url('elsie-swash-caps-latin-regular.woff') format('woff');
}