@font-face {
    font-family: 'Josefin Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
         url('josefin-sans-latin-700.woff2') format('woff2'),
         url('josefin-sans-latin-700.woff') format('woff');
}