@font-face {
    font-family: 'Cousine';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cousine Bold'), local('Cousine-Bold'),
         url('cousine-latin-700.woff2') format('woff2'),
         url('cousine-latin-700.woff') format('woff');
}