@font-face {
    font-family: 'Galdeano';
    font-style: 'normal';
    font-weight: 400;
    src: local('Galdeano Regular'), local('Galdeano-Regular'),
         url('galdeano-latin-regular.woff2') format('woff2'),
         url('galdeano-latin-regular.woff') format('woff');
}