@font-face {
    font-family: 'Viga';
    font-style: 'normal';
    font-weight: 400;
    src: local('Viga Regular'), local('Viga-Regular'),
         url('viga-latin-regular.woff2') format('woff2'),
         url('viga-latin-regular.woff') format('woff');
}