@font-face {
    font-family: 'Pragati Narrow';
    font-style: 'normal';
    font-weight: 700;
    src: local('Pragati Narrow Bold'), local('PragatiNarrow-Bold'),
         url('pragati-narrow-latin-700.woff2') format('woff2'),
         url('pragati-narrow-latin-700.woff') format('woff');
}