@font-face {
    font-family: 'Pragati Narrow';
    font-style: 'normal';
    font-weight: 400;
    src: local('Pragati Narrow Regular'), local('PragatiNarrow-Regular'),
         url('pragati-narrow-latin-regular.woff2') format('woff2'),
         url('pragati-narrow-latin-regular.woff') format('woff');
}