@font-face {
    font-family: 'IBM Plex Sans';
    font-style: 'normal';
    font-weight: 200;
    src: local('IBM Plex Sans ExtraLight'), local('IBMPlexSans-ExtraLight'),
         url('ibm-plex-sans-latin-200.woff2') format('woff2'),
         url('ibm-plex-sans-latin-200.woff') format('woff');
}