@font-face {
    font-family: 'Puritan';
    font-style: 'normal';
    font-weight: 700;
    src: local('Puritan Bold'), local('Puritan-Bold'),
         url('puritan-latin-700.woff2') format('woff2'),
         url('puritan-latin-700.woff') format('woff');
}