@font-face {
    font-family: 'Inknut Antiqua';
    font-style: 'normal';
    font-weight: 300;
    src: local('Inknut Antiqua Light'), local('InknutAntiqua-Light'),
         url('inknut-antiqua-latin-300.woff2') format('woff2'),
         url('inknut-antiqua-latin-300.woff') format('woff');
}