@font-face {
    font-family: 'Unlock';
    font-style: 'normal';
    font-weight: 400;
    src: local('Unlock Regular'), local('Unlock-Regular'),
         url('unlock-latin-regular.woff2') format('woff2'),
         url('unlock-latin-regular.woff') format('woff');
}