@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: 'normal';
    font-weight: 600;
    src: local('Fira Sans Extra Condensed SemiBold'), local('FiraSansExtraCondensed-SemiBold'),
         url('fira-sans-extra-condensed-latin-600.woff2') format('woff2'),
         url('fira-sans-extra-condensed-latin-600.woff') format('woff');
}