@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: 'normal';
    font-weight: 800;
    src: local('Fira Sans Extra Condensed ExtraBold'), local('FiraSansExtraCondensed-ExtraBold'),
         url('fira-sans-extra-condensed-latin-800.woff2') format('woff2'),
         url('fira-sans-extra-condensed-latin-800.woff') format('woff');
}