@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: 'italic';
    font-weight: 200;
    src: local('Fira Sans Extra Condensed ExtraLight Italic'), local('FiraSansExtraCondensed-ExtraLightItalic'),
         url('fira-sans-extra-condensed-latin-200italic.woff2') format('woff2'),
         url('fira-sans-extra-condensed-latin-200italic.woff') format('woff');
}