@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: 'normal';
    font-weight: 700;
    src: local('Fira Sans Extra Condensed Bold'), local('FiraSansExtraCondensed-Bold'),
         url('fira-sans-extra-condensed-latin-700.woff2') format('woff2'),
         url('fira-sans-extra-condensed-latin-700.woff') format('woff');
}