@font-face {
    font-family: 'Fira Sans Extra Condensed';
    font-style: 'italic';
    font-weight: 900;
    src: local('Fira Sans Extra Condensed Black Italic'), local('FiraSansExtraCondensed-BlackItalic'),
         url('fira-sans-extra-condensed-latin-italic.woff2') format('woff2'),
         url('fira-sans-extra-condensed-latin-italic.woff') format('woff');
}