@font-face {
    font-family: 'McLaren';
    font-style: 'normal';
    font-weight: 400;
    src: local('McLaren Regular'), local('McLaren-Regular'),
         url('mclaren-latin-regular.woff2') format('woff2'),
         url('mclaren-latin-regular.woff') format('woff');
}