@font-face {
    font-family: 'Rambla';
    font-style: 'normal';
    font-weight: 400;
    src: local('Rambla Regular'), local('Rambla-Regular'),
         url('rambla-latin-regular.woff2') format('woff2'),
         url('rambla-latin-regular.woff') format('woff');
}