@font-face {
    font-family: 'Offside';
    font-style: 'normal';
    font-weight: 400;
    src: local('Offside Regular'), local('Offside-Regular'),
         url('offside-latin-regular.woff2') format('woff2'),
         url('offside-latin-regular.woff') format('woff');
}