@font-face {
    font-family: 'Cinzel';
    font-style: 'normal';
    font-weight: 900;
    src: local('Cinzel Black'), local('Cinzel-Black'),
         url('cinzel-latin-900.woff2') format('woff2'),
         url('cinzel-latin-900.woff') format('woff');
}