@font-face {
    font-family: 'Fahkwang';
    font-style: 'normal';
    font-weight: 300;
    src: local('Fahkwang Light'), local('Fahkwang-Light'),
         url('fahkwang-latin-300.woff2') format('woff2'),
         url('fahkwang-latin-300.woff') format('woff');
}