@font-face {
    font-family: 'Fahkwang';
    font-style: 'normal';
    font-weight: 200;
    src: local('Fahkwang ExtraLight'), local('Fahkwang-ExtraLight'),
         url('fahkwang-latin-200.woff2') format('woff2'),
         url('fahkwang-latin-200.woff') format('woff');
}