@font-face {
    font-family: 'Fahkwang';
    font-style: 'normal';
    font-weight: 700;
    src: local('Fahkwang Bold'), local('Fahkwang-Bold'),
         url('fahkwang-latin-700.woff2') format('woff2'),
         url('fahkwang-latin-700.woff') format('woff');
}