@font-face {
    font-family: 'Fahkwang';
    font-style: 'italic';
    font-weight: 500;
    src: local('Fahkwang Medium Italic'), local('Fahkwang-MediumItalic'),
         url('fahkwang-latin-500italic.woff2') format('woff2'),
         url('fahkwang-latin-500italic.woff') format('woff');
}