@font-face {
    font-family: 'Artifika';
    font-style: 'normal';
    font-weight: 400;
    src: local('Artifika Regular'), local('Artifika-Regular'),
         url('artifika-latin-regular.woff2') format('woff2'),
         url('artifika-latin-regular.woff') format('woff');
}