@font-face {
    font-family: 'Frank Ruhl Libre';
    font-style: 'normal';
    font-weight: 700;
    src: local('Frank Ruhl Libre Bold'), local('FrankRuhlLibre-Bold'),
         url('frank-ruhl-libre-latin-700.woff2') format('woff2'),
         url('frank-ruhl-libre-latin-700.woff') format('woff');
}