@font-face {
    font-family: 'Noto Serif JP';
    font-style: 'normal';
    font-weight: 200;
    src: local('Noto Serif JP ExtraLight'), local('NotoSerifJP-ExtraLight'),
         url('noto-serif-jp-japanese_latin-200.woff2') format('woff2'),
         url('noto-serif-jp-japanese_latin-200.woff') format('woff');
}