@font-face {
    font-family: 'Noto Serif JP';
    font-style: 'normal';
    font-weight: 300;
    src: local('Noto Serif JP Light'), local('NotoSerifJP-Light'),
         url('noto-serif-jp-japanese_latin-300.woff2') format('woff2'),
         url('noto-serif-jp-japanese_latin-300.woff') format('woff');
}