@font-face {
    font-family: 'Noto Serif JP';
    font-style: 'normal';
    font-weight: 700;
    src: local('Noto Serif JP Bold'), local('NotoSerifJP-Bold'),
         url('noto-serif-jp-japanese_latin-700.woff2') format('woff2'),
         url('noto-serif-jp-japanese_latin-700.woff') format('woff');
}