@font-face {
    font-family: 'Noto Serif JP';
    font-style: 'normal';
    font-weight: 600;
    src: local('Noto Serif JP SemiBold'), local('NotoSerifJP-SemiBold'),
         url('noto-serif-jp-japanese_latin-600.woff2') format('woff2'),
         url('noto-serif-jp-japanese_latin-600.woff') format('woff');
}