@font-face {
    font-family: 'Moul';
    font-style: 'normal';
    font-weight: 400;
    src: local('Moul Regular'), local('Moul-Regular'),
         url('moul-khmer-regular.woff2') format('woff2'),
         url('moul-khmer-regular.woff') format('woff');
}