@font-face {
    font-family: 'Noto Sans KR';
    font-style: 'normal';
    font-weight: 300;
    src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
         url('noto-sans-kr-latin_korean-300.woff2') format('woff2'),
         url('noto-sans-kr-latin_korean-300.woff') format('woff');
}