@font-face {
    font-family: 'Noto Sans KR';
    font-style: 'normal';
    font-weight: 400;
    src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
         url('noto-sans-kr-latin_korean-regular.woff2') format('woff2'),
         url('noto-sans-kr-latin_korean-regular.woff') format('woff');
}