@font-face {
    font-family: 'Noto Sans KR';
    font-style: 'normal';
    font-weight: 700;
    src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
         url('noto-sans-kr-latin_korean-700.woff2') format('woff2'),
         url('noto-sans-kr-latin_korean-700.woff') format('woff');
}