@font-face {
    font-family: 'Khula';
    font-style: 'normal';
    font-weight: 700;
    src: local('Khula Bold'), local('Khula-Bold'),
         url('khula-latin-700.woff2') format('woff2'),
         url('khula-latin-700.woff') format('woff');
}