@font-face {
    font-family: 'Khula';
    font-style: 'normal';
    font-weight: 300;
    src: local('Khula Light'), local('Khula-Light'),
         url('khula-latin-300.woff2') format('woff2'),
         url('khula-latin-300.woff') format('woff');
}