@font-face {
    font-family: 'Bowlby One SC';
    font-style: 'normal';
    font-weight: 400;
    src: local('Bowlby One SC Regular'), local('BowlbyOneSC-Regular'),
         url('bowlby-one-sc-latin-regular.woff2') format('woff2'),
         url('bowlby-one-sc-latin-regular.woff') format('woff');
}