@font-face {
    font-family: 'Noto Sans';
    font-style: 'normal';
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
         url('noto-sans-greek_greek-ext-regular.woff2') format('woff2'),
         url('noto-sans-greek_greek-ext-regular.woff') format('woff');
}