@font-face {
    font-family: 'Alegreya SC';
    font-style: 'italic';
    font-weight: 800;
    src: local('Alegreya SC ExtraBold Italic'), local('AlegreyaSC-ExtraBoldItalic'),
         url('alegreya-sc-latin-800italic.woff2') format('woff2'),
         url('alegreya-sc-latin-800italic.woff') format('woff');
}