@font-face {
    font-family: 'Libre Baskerville';
    font-style: 'italic';
    font-weight: 900;
    src: local('Libre Baskerville Black Italic'), local('LibreBaskerville-BlackItalic'),
         url('libre-baskerville-latin-italic.woff2') format('woff2'),
         url('libre-baskerville-latin-italic.woff') format('woff');
}