@font-face {
    font-family: 'Libre Baskerville';
    font-style: 'normal';
    font-weight: 700;
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
         url('libre-baskerville-latin-700.woff2') format('woff2'),
         url('libre-baskerville-latin-700.woff') format('woff');
}