@font-face {
    font-family: 'Overlock';
    font-style: 'normal';
    font-weight: 700;
    src: local('Overlock Bold'), local('Overlock-Bold'),
         url('overlock-latin-700.woff2') format('woff2'),
         url('overlock-latin-700.woff') format('woff');
}