@font-face {
    font-family: 'Overlock';
    font-style: 'italic';
    font-weight: 700;
    src: local('Overlock Bold Italic'), local('Overlock-BoldItalic'),
         url('overlock-latin-700italic.woff2') format('woff2'),
         url('overlock-latin-700italic.woff') format('woff');
}