@font-face {
    font-family: 'Overlock';
    font-style: 'normal';
    font-weight: 900;
    src: local('Overlock Black'), local('Overlock-Black'),
         url('overlock-latin-900.woff2') format('woff2'),
         url('overlock-latin-900.woff') format('woff');
}