@font-face {
    font-family: 'Open Sans';
    font-style: 'normal';
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
         url('open-sans-cyrillic-ext-600.woff2') format('woff2'),
         url('open-sans-cyrillic-ext-600.woff') format('woff');
}