@font-face {
    font-family: 'Open Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
         url('open-sans-cyrillic-ext-700.woff2') format('woff2'),
         url('open-sans-cyrillic-ext-700.woff') format('woff');
}