@font-face {
    font-family: 'Open Sans';
    font-style: 'normal';
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('open-sans-cyrillic-ext-300.woff2') format('woff2'),
         url('open-sans-cyrillic-ext-300.woff') format('woff');
}