@font-face {
    font-family: 'Work Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Work Sans Bold'), local('WorkSans-Bold'),
         url('work-sans-latin-700.woff2') format('woff2'),
         url('work-sans-latin-700.woff') format('woff');
}