@font-face {
    font-family: 'Work Sans';
    font-style: 'normal';
    font-weight: 300;
    src: local('Work Sans Light'), local('WorkSans-Light'),
         url('work-sans-latin-300.woff2') format('woff2'),
         url('work-sans-latin-300.woff') format('woff');
}