@font-face {
    font-family: 'Varela Round';
    font-style: 'normal';
    font-weight: 400;
    src: local('Varela Round Regular'), local('VarelaRound-Regular'),
         url('varela-round-latin-regular.woff2') format('woff2'),
         url('varela-round-latin-regular.woff') format('woff');
}