@font-face {
    font-family: 'Spectral';
    font-style: 'normal';
    font-weight: 600;
    src: local('Spectral SemiBold'), local('Spectral-SemiBold'),
         url('spectral-latin-600.woff2') format('woff2'),
         url('spectral-latin-600.woff') format('woff');
}