@font-face {
    font-family: 'Spectral';
    font-style: 'normal';
    font-weight: 300;
    src: local('Spectral Light'), local('Spectral-Light'),
         url('spectral-latin-300.woff2') format('woff2'),
         url('spectral-latin-300.woff') format('woff');
}