@font-face {
    font-family: 'Spectral';
    font-style: 'normal';
    font-weight: 800;
    src: local('Spectral ExtraBold'), local('Spectral-ExtraBold'),
         url('spectral-latin-800.woff2') format('woff2'),
         url('spectral-latin-800.woff') format('woff');
}