@font-face {
    font-family: 'Spectral';
    font-style: 'normal';
    font-weight: 500;
    src: local('Spectral Medium'), local('Spectral-Medium'),
         url('spectral-latin-500.woff2') format('woff2'),
         url('spectral-latin-500.woff') format('woff');
}