@font-face {
    font-family: 'Martel Sans';
    font-style: 'normal';
    font-weight: 400;
    src: local('Martel Sans Regular'), local('MartelSans-Regular'),
         url('martel-sans-latin-regular.woff2') format('woff2'),
         url('martel-sans-latin-regular.woff') format('woff');
}