@font-face {
    font-family: 'Martel Sans';
    font-style: 'normal';
    font-weight: 600;
    src: local('Martel Sans SemiBold'), local('MartelSans-SemiBold'),
         url('martel-sans-latin-600.woff2') format('woff2'),
         url('martel-sans-latin-600.woff') format('woff');
}