@font-face {
    font-family: 'Bellefair';
    font-style: 'normal';
    font-weight: 400;
    src: local('Bellefair Regular'), local('Bellefair-Regular'),
         url('bellefair-latin-regular.woff2') format('woff2'),
         url('bellefair-latin-regular.woff') format('woff');
}