@font-face {
    font-family: 'Quantico';
    font-style: 'normal';
    font-weight: 700;
    src: local('Quantico Bold'), local('Quantico-Bold'),
         url('quantico-latin-700.woff2') format('woff2'),
         url('quantico-latin-700.woff') format('woff');
}