@font-face {
    font-family: 'Lateef';
    font-style: 'normal';
    font-weight: 400;
    src: local('Lateef Regular'), local('Lateef-Regular'),
         url('lateef-latin-regular.woff2') format('woff2'),
         url('lateef-latin-regular.woff') format('woff');
}