@font-face {
    font-family: 'Federo';
    font-style: 'normal';
    font-weight: 400;
    src: local('Federo Regular'), local('Federo-Regular'),
         url('federo-latin-regular.woff2') format('woff2'),
         url('federo-latin-regular.woff') format('woff');
}