@font-face {
    font-family: 'Pridi';
    font-style: 'normal';
    font-weight: 300;
    src: local('Pridi Light'), local('Pridi-Light'),
         url('pridi-latin-300.woff2') format('woff2'),
         url('pridi-latin-300.woff') format('woff');
}