@font-face {
    font-family: 'Anton';
    font-style: 'normal';
    font-weight: 400;
    src: local('Anton Regular'), local('Anton-Regular'),
         url('anton-latin-regular.woff2') format('woff2'),
         url('anton-latin-regular.woff') format('woff');
}