@font-face {
    font-family: 'Elsie';
    font-style: 'normal';
    font-weight: 900;
    src: local('Elsie Black'), local('Elsie-Black'),
         url('elsie-latin-900.woff2') format('woff2'),
         url('elsie-latin-900.woff') format('woff');
}