@font-face {
    font-family: 'IBM Plex Mono';
    font-style: 'normal';
    font-weight: 300;
    src: local('IBM Plex Mono Light'), local('IBMPlexMono-Light'),
         url('ibm-plex-mono-latin-300.woff2') format('woff2'),
         url('ibm-plex-mono-latin-300.woff') format('woff');
}