@font-face {
    font-family: 'IBM Plex Mono';
    font-style: 'normal';
    font-weight: 400;
    src: local('IBM Plex Mono Regular'), local('IBMPlexMono-Regular'),
         url('ibm-plex-mono-latin-regular.woff2') format('woff2'),
         url('ibm-plex-mono-latin-regular.woff') format('woff');
}