@font-face {
    font-family: 'Amiko';
    font-style: 'normal';
    font-weight: 600;
    src: local('Amiko SemiBold'), local('Amiko-SemiBold'),
         url('amiko-latin-600.woff2') format('woff2'),
         url('amiko-latin-600.woff') format('woff');
}