@font-face {
    font-family: 'Amiko';
    font-style: 'normal';
    font-weight: 400;
    src: local('Amiko Regular'), local('Amiko-Regular'),
         url('amiko-latin-regular.woff2') format('woff2'),
         url('amiko-latin-regular.woff') format('woff');
}