@font-face {
    font-family: 'Crimson Text';
    font-style: 'normal';
    font-weight: 700;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
         url('crimson-text-latin-700.woff2') format('woff2'),
         url('crimson-text-latin-700.woff') format('woff');
}