@font-face {
    font-family: 'Kantumruy';
    font-style: 'normal';
    font-weight: 300;
    src: local('Kantumruy Light'), local('Kantumruy-Light'),
         url('kantumruy-khmer-300.woff2') format('woff2'),
         url('kantumruy-khmer-300.woff') format('woff');
}