@font-face {
    font-family: 'Barlow Condensed';
    font-style: 'normal';
    font-weight: 500;
    src: local('Barlow Condensed Medium'), local('BarlowCondensed-Medium'),
         url('barlow-condensed-latin-500.woff2') format('woff2'),
         url('barlow-condensed-latin-500.woff') format('woff');
}