@font-face {
    font-family: 'Barlow Condensed';
    font-style: 'normal';
    font-weight: 600;
    src: local('Barlow Condensed SemiBold'), local('BarlowCondensed-SemiBold'),
         url('barlow-condensed-latin-600.woff2') format('woff2'),
         url('barlow-condensed-latin-600.woff') format('woff');
}