@font-face {
    font-family: 'Barlow Condensed';
    font-style: 'italic';
    font-weight: 900;
    src: local('Barlow Condensed Black Italic'), local('BarlowCondensed-BlackItalic'),
         url('barlow-condensed-latin-italic.woff2') format('woff2'),
         url('barlow-condensed-latin-italic.woff') format('woff');
}