@font-face {
    font-family: 'Barlow Condensed';
    font-style: 'normal';
    font-weight: 800;
    src: local('Barlow Condensed ExtraBold'), local('BarlowCondensed-ExtraBold'),
         url('barlow-condensed-latin-800.woff2') format('woff2'),
         url('barlow-condensed-latin-800.woff') format('woff');
}