@font-face {
    font-family: 'Encode Sans';
    font-style: 'normal';
    font-weight: 500;
    src: local('Encode Sans Medium'), local('EncodeSans-Medium'),
         url('encode-sans-latin-500.woff2') format('woff2'),
         url('encode-sans-latin-500.woff') format('woff');
}