@font-face {
    font-family: 'Encode Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Encode Sans Bold'), local('EncodeSans-Bold'),
         url('encode-sans-latin-700.woff2') format('woff2'),
         url('encode-sans-latin-700.woff') format('woff');
}