@font-face {
    font-family: 'Encode Sans';
    font-style: 'normal';
    font-weight: 200;
    src: local('Encode Sans ExtraLight'), local('EncodeSans-ExtraLight'),
         url('encode-sans-latin-200.woff2') format('woff2'),
         url('encode-sans-latin-200.woff') format('woff');
}