@font-face {
    font-family: 'Encode Sans';
    font-style: 'normal';
    font-weight: 400;
    src: local('Encode Sans Regular'), local('EncodeSans-Regular'),
         url('encode-sans-latin-regular.woff2') format('woff2'),
         url('encode-sans-latin-regular.woff') format('woff');
}