@font-face {
    font-family: 'Clicker Script';
    font-style: 'normal';
    font-weight: 400;
    src: local('Clicker Script Regular'), local('ClickerScript-Regular'),
         url('clicker-script-latin-regular.woff2') format('woff2'),
         url('clicker-script-latin-regular.woff') format('woff');
}