@font-face {
    font-family: 'Montserrat Alternates';
    font-style: 'normal';
    font-weight: 700;
    src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'),
         url('montserrat-alternates-latin-700.woff2') format('woff2'),
         url('montserrat-alternates-latin-700.woff') format('woff');
}