@font-face {
    font-family: 'Montserrat Alternates';
    font-style: 'normal';
    font-weight: 600;
    src: local('Montserrat Alternates SemiBold'), local('MontserratAlternates-SemiBold'),
         url('montserrat-alternates-latin-600.woff2') format('woff2'),
         url('montserrat-alternates-latin-600.woff') format('woff');
}