@font-face {
    font-family: 'Montserrat Alternates';
    font-style: 'normal';
    font-weight: 100;
    src: local('Montserrat Alternates Thin'), local('MontserratAlternates-Thin'),
         url('montserrat-alternates-latin-100.woff2') format('woff2'),
         url('montserrat-alternates-latin-100.woff') format('woff');
}