@font-face {
    font-family: 'Montserrat Alternates';
    font-style: 'normal';
    font-weight: 300;
    src: local('Montserrat Alternates Light'), local('MontserratAlternates-Light'),
         url('montserrat-alternates-latin-300.woff2') format('woff2'),
         url('montserrat-alternates-latin-300.woff') format('woff');
}