@font-face {
    font-family: 'Montserrat Alternates';
    font-style: 'normal';
    font-weight: 900;
    src: local('Montserrat Alternates Black'), local('MontserratAlternates-Black'),
         url('montserrat-alternates-latin-900.woff2') format('woff2'),
         url('montserrat-alternates-latin-900.woff') format('woff');
}