@font-face {
    font-family: 'Ledger';
    font-style: 'normal';
    font-weight: 400;
    src: local('Ledger Regular'), local('Ledger-Regular'),
         url('ledger-latin-regular.woff2') format('woff2'),
         url('ledger-latin-regular.woff') format('woff');
}