@font-face {
    font-family: 'Vesper Libre';
    font-style: 'normal';
    font-weight: 700;
    src: local('Vesper Libre Bold'), local('VesperLibre-Bold'),
         url('vesper-libre-latin-700.woff2') format('woff2'),
         url('vesper-libre-latin-700.woff') format('woff');
}