@font-face {
    font-family: 'Vesper Libre';
    font-style: 'normal';
    font-weight: 500;
    src: local('Vesper Libre Medium'), local('VesperLibre-Medium'),
         url('vesper-libre-latin-500.woff2') format('woff2'),
         url('vesper-libre-latin-500.woff') format('woff');
}