@font-face {
    font-family: 'Mukta Vaani';
    font-style: 'normal';
    font-weight: 800;
    src: local('Mukta Vaani ExtraBold'), local('MuktaVaani-ExtraBold'),
         url('mukta-vaani-latin-ext_latin_gujarati-800.woff2') format('woff2'),
         url('mukta-vaani-latin-ext_latin_gujarati-800.woff') format('woff');
}