@font-face {
    font-family: 'Mukta Vaani';
    font-style: 'normal';
    font-weight: 700;
    src: local('Mukta Vaani Bold'), local('MuktaVaani-Bold'),
         url('mukta-vaani-latin-ext_latin_gujarati-700.woff2') format('woff2'),
         url('mukta-vaani-latin-ext_latin_gujarati-700.woff') format('woff');
}