@font-face {
    font-family: 'Athiti';
    font-style: 'normal';
    font-weight: 700;
    src: local('Athiti Bold'), local('Athiti-Bold'),
         url('athiti-latin-700.woff2') format('woff2'),
         url('athiti-latin-700.woff') format('woff');
}