@font-face {
    font-family: 'Noto Serif KR';
    font-style: 'normal';
    font-weight: 500;
    src: local('Noto Serif KR Medium'), local('NotoSerifKR-Medium'),
         url('noto-serif-kr-latin_korean-500.woff2') format('woff2'),
         url('noto-serif-kr-latin_korean-500.woff') format('woff');
}