@font-face {
    font-family: 'Noto Serif KR';
    font-style: 'normal';
    font-weight: 700;
    src: local('Noto Serif KR Bold'), local('NotoSerifKR-Bold'),
         url('noto-serif-kr-latin_korean-700.woff2') format('woff2'),
         url('noto-serif-kr-latin_korean-700.woff') format('woff');
}