@font-face {
    font-family: 'Noto Serif KR';
    font-style: 'normal';
    font-weight: 200;
    src: local('Noto Serif KR ExtraLight'), local('NotoSerifKR-ExtraLight'),
         url('noto-serif-kr-latin_korean-200.woff2') format('woff2'),
         url('noto-serif-kr-latin_korean-200.woff') format('woff');
}