@font-face {
    font-family: 'Baloo Chettan';
    font-style: 'normal';
    font-weight: 400;
    src: local('Baloo Chettan Regular'), local('BalooChettan-Regular'),
         url('baloo-chettan-latin-ext_latin_vietnamese_malayalam-regular.woff2') format('woff2'),
         url('baloo-chettan-latin-ext_latin_vietnamese_malayalam-regular.woff') format('woff');
}