@font-face {
    font-family: 'Roboto Slab';
    font-style: 'normal';
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('roboto-slab-latin-regular.woff2') format('woff2'),
         url('roboto-slab-latin-regular.woff') format('woff');
}