@font-face {
    font-family: 'Roboto Slab';
    font-style: 'normal';
    font-weight: 300;
    src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
         url('roboto-slab-latin-300.woff2') format('woff2'),
         url('roboto-slab-latin-300.woff') format('woff');
}