@font-face {
    font-family: 'Cormorant Infant';
    font-style: 'normal';
    font-weight: 300;
    src: local('Cormorant Infant Light'), local('CormorantInfant-Light'),
         url('cormorant-infant-latin-300.woff2') format('woff2'),
         url('cormorant-infant-latin-300.woff') format('woff');
}