@font-face {
    font-family: 'Cormorant Infant';
    font-style: 'normal';
    font-weight: 500;
    src: local('Cormorant Infant Medium'), local('CormorantInfant-Medium'),
         url('cormorant-infant-latin-500.woff2') format('woff2'),
         url('cormorant-infant-latin-500.woff') format('woff');
}