@font-face {
    font-family: 'Yrsa';
    font-style: 'normal';
    font-weight: 300;
    src: local('Yrsa Light'), local('Yrsa-Light'),
         url('yrsa-latin-300.woff2') format('woff2'),
         url('yrsa-latin-300.woff') format('woff');
}