@font-face {
    font-family: 'Yrsa';
    font-style: 'normal';
    font-weight: 700;
    src: local('Yrsa Bold'), local('Yrsa-Bold'),
         url('yrsa-latin-700.woff2') format('woff2'),
         url('yrsa-latin-700.woff') format('woff');
}