@font-face {
    font-family: 'Coda Caption';
    font-style: 'normal';
    font-weight: 800;
    src: local('Coda Caption ExtraBold'), local('CodaCaption-ExtraBold'),
         url('coda-caption-latin-800.woff2') format('woff2'),
         url('coda-caption-latin-800.woff') format('woff');
}