@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: 'normal';
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'),
         url('yanone-kaffeesatz-latin-regular.woff2') format('woff2'),
         url('yanone-kaffeesatz-latin-regular.woff') format('woff');
}