@font-face {
    font-family: 'Kalam';
    font-style: 'normal';
    font-weight: 300;
    src: local('Kalam Light'), local('Kalam-Light'),
         url('kalam-latin-300.woff2') format('woff2'),
         url('kalam-latin-300.woff') format('woff');
}