@font-face {
    font-family: 'Prosto One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Prosto One Regular'), local('ProstoOne-Regular'),
         url('prosto-one-latin-regular.woff2') format('woff2'),
         url('prosto-one-latin-regular.woff') format('woff');
}