@font-face {
    font-family: 'Coiny';
    font-style: 'normal';
    font-weight: 400;
    src: local('Coiny Regular'), local('Coiny-Regular'),
         url('coiny-latin-regular.woff2') format('woff2'),
         url('coiny-latin-regular.woff') format('woff');
}