@font-face {
    font-family: 'Cormorant Garamond';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cormorant Garamond Bold'), local('CormorantGaramond-Bold'),
         url('cormorant-garamond-latin-700.woff2') format('woff2'),
         url('cormorant-garamond-latin-700.woff') format('woff');
}