@font-face {
    font-family: 'East Sea Dokdo';
    font-style: 'normal';
    font-weight: 400;
    src: local('East Sea Dokdo Regular'), local('EastSeaDokdo-Regular'),
         url('east-sea-dokdo-latin-regular.woff2') format('woff2'),
         url('east-sea-dokdo-latin-regular.woff') format('woff');
}