@font-face {
    font-family: 'Open Sans Condensed';
    font-style: 'normal';
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSansCondensed-Bold'),
         url('open-sans-condensed-latin-700.woff2') format('woff2'),
         url('open-sans-condensed-latin-700.woff') format('woff');
}