@font-face {
    font-family: 'Open Sans Condensed';
    font-style: 'normal';
    font-weight: 300;
    src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'),
         url('open-sans-condensed-latin-300.woff2') format('woff2'),
         url('open-sans-condensed-latin-300.woff') format('woff');
}