@font-face {
    font-family: 'Nobile';
    font-style: 'normal';
    font-weight: 700;
    src: local('Nobile Bold'), local('Nobile-Bold'),
         url('nobile-latin-700.woff2') format('woff2'),
         url('nobile-latin-700.woff') format('woff');
}