@font-face {
    font-family: 'Changa';
    font-style: 'normal';
    font-weight: 300;
    src: local('Changa Light'), local('Changa-Light'),
         url('changa-latin-300.woff2') format('woff2'),
         url('changa-latin-300.woff') format('woff');
}