@font-face {
    font-family: 'Changa';
    font-style: 'normal';
    font-weight: 800;
    src: local('Changa ExtraBold'), local('Changa-ExtraBold'),
         url('changa-latin-800.woff2') format('woff2'),
         url('changa-latin-800.woff') format('woff');
}