@font-face {
    font-family: 'Changa';
    font-style: 'normal';
    font-weight: 400;
    src: local('Changa Regular'), local('Changa-Regular'),
         url('changa-latin-regular.woff2') format('woff2'),
         url('changa-latin-regular.woff') format('woff');
}