@font-face {
    font-family: 'PT Sans Narrow';
    font-style: 'normal';
    font-weight: 700;
    src: local('PT Sans Narrow Bold'), local('PTSansNarrow-Bold'),
         url('pt-sans-narrow-latin-700.woff2') format('woff2'),
         url('pt-sans-narrow-latin-700.woff') format('woff');
}