@font-face {
    font-family: 'Abhaya Libre';
    font-style: 'normal';
    font-weight: 800;
    src: local('Abhaya Libre ExtraBold'), local('AbhayaLibre-ExtraBold'),
         url('abhaya-libre-latin-800.woff2') format('woff2'),
         url('abhaya-libre-latin-800.woff') format('woff');
}