@font-face {
    font-family: 'Abhaya Libre';
    font-style: 'normal';
    font-weight: 500;
    src: local('Abhaya Libre Medium'), local('AbhayaLibre-Medium'),
         url('abhaya-libre-latin-500.woff2') format('woff2'),
         url('abhaya-libre-latin-500.woff') format('woff');
}