@font-face {
    font-family: 'Abhaya Libre';
    font-style: 'normal';
    font-weight: 400;
    src: local('Abhaya Libre Regular'), local('AbhayaLibre-Regular'),
         url('abhaya-libre-latin-regular.woff2') format('woff2'),
         url('abhaya-libre-latin-regular.woff') format('woff');
}