@font-face {
    font-family: 'Metamorphous';
    font-style: 'normal';
    font-weight: 400;
    src: local('Metamorphous Regular'), local('Metamorphous-Regular'),
         url('metamorphous-latin-regular.woff2') format('woff2'),
         url('metamorphous-latin-regular.woff') format('woff');
}