@font-face {
    font-family: 'Exo 2';
    font-style: 'normal';
    font-weight: 600;
    src: local('Exo 2 SemiBold'), local('Exo2-SemiBold'),
         url('exo-2-latin-600.woff2') format('woff2'),
         url('exo-2-latin-600.woff') format('woff');
}