@font-face {
    font-family: 'Exo 2';
    font-style: 'normal';
    font-weight: 100;
    src: local('Exo 2 Thin'), local('Exo2-Thin'),
         url('exo-2-latin-100.woff2') format('woff2'),
         url('exo-2-latin-100.woff') format('woff');
}