@font-face {
    font-family: 'BioRhyme Expanded';
    font-style: 'normal';
    font-weight: 400;
    src: local('BioRhyme Expanded Regular'), local('BioRhymeExpanded-Regular'),
         url('biorhyme-expanded-latin-regular.woff2') format('woff2'),
         url('biorhyme-expanded-latin-regular.woff') format('woff');
}