@font-face {
    font-family: 'Sniglet';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sniglet Regular'), local('Sniglet-Regular'),
         url('sniglet-latin-regular.woff2') format('woff2'),
         url('sniglet-latin-regular.woff') format('woff');
}