@font-face {
    font-family: 'Lemonada';
    font-style: 'normal';
    font-weight: 300;
    src: local('Lemonada Light'), local('Lemonada-Light'),
         url('lemonada-latin-300.woff2') format('woff2'),
         url('lemonada-latin-300.woff') format('woff');
}