@font-face {
    font-family: 'Lemonada';
    font-style: 'normal';
    font-weight: 400;
    src: local('Lemonada Regular'), local('Lemonada-Regular'),
         url('lemonada-latin-regular.woff2') format('woff2'),
         url('lemonada-latin-regular.woff') format('woff');
}