@font-face {
    font-family: 'Istok Web';
    font-style: 'normal';
    font-weight: 700;
    src: local('Istok Web Bold'), local('IstokWeb-Bold'),
         url('istok-web-latin-700.woff2') format('woff2'),
         url('istok-web-latin-700.woff') format('woff');
}