@font-face {
    font-family: 'Istok Web';
    font-style: 'normal';
    font-weight: 400;
    src: local('Istok Web Regular'), local('IstokWeb-Regular'),
         url('istok-web-latin-regular.woff2') format('woff2'),
         url('istok-web-latin-regular.woff') format('woff');
}