@font-face {
    font-family: 'Raleway';
    font-style: 'italic';
    font-weight: 600;
    src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
         url('raleway-latin-600italic.woff2') format('woff2'),
         url('raleway-latin-600italic.woff') format('woff');
}