@font-face {
    font-family: 'Raleway';
    font-style: 'normal';
    font-weight: 400;
    src: local('Raleway Regular'), local('Raleway-Regular'),
         url('raleway-latin-regular.woff2') format('woff2'),
         url('raleway-latin-regular.woff') format('woff');
}