@font-face {
    font-family: 'Waltograph';
    font-style: 'normal';
    font-weight: 700;
    src: local('Waltograph Bold'), local('Waltograph-Bold'),
         url('waltograph-latin-700.woff2') format('woff2'),
         url('waltograph-latin-700.woff') format('woff');
}