@font-face {
    font-family: 'Amita';
    font-style: 'normal';
    font-weight: 700;
    src: local('Amita Bold'), local('Amita-Bold'),
         url('amita-latin-700.woff2') format('woff2'),
         url('amita-latin-700.woff') format('woff');
}