@font-face {
    font-family: 'Corben';
    font-style: 'normal';
    font-weight: 700;
    src: local('Corben Bold'), local('Corben-Bold'),
         url('corben-latin-700.woff2') format('woff2'),
         url('corben-latin-700.woff') format('woff');
}