@font-face {
    font-family: 'Nunito';
    font-style: 'italic';
    font-weight: 900;
    src: local('Nunito Black Italic'), local('Nunito-BlackItalic'),
         url('nunito-latin-900italic.woff2') format('woff2'),
         url('nunito-latin-900italic.woff') format('woff');
}