@font-face {
    font-family: 'Libre Franklin';
    font-style: 'normal';
    font-weight: 300;
    src: local('Libre Franklin Light'), local('LibreFranklin-Light'),
         url('libre-franklin-latin-300.woff2') format('woff2'),
         url('libre-franklin-latin-300.woff') format('woff');
}