@font-face {
    font-family: 'Libre Franklin';
    font-style: 'italic';
    font-weight: 200;
    src: local('Libre Franklin ExtraLight Italic'), local('LibreFranklin-ExtraLightItalic'),
         url('libre-franklin-latin-200italic.woff2') format('woff2'),
         url('libre-franklin-latin-200italic.woff') format('woff');
}