@font-face {
    font-family: 'Libre Franklin';
    font-style: 'normal';
    font-weight: 700;
    src: local('Libre Franklin Bold'), local('LibreFranklin-Bold'),
         url('libre-franklin-latin-700.woff2') format('woff2'),
         url('libre-franklin-latin-700.woff') format('woff');
}