@font-face {
    font-family: 'Libre Franklin';
    font-style: 'italic';
    font-weight: 900;
    src: local('Libre Franklin Black Italic'), local('LibreFranklin-BlackItalic'),
         url('libre-franklin-latin-900italic.woff2') format('woff2'),
         url('libre-franklin-latin-900italic.woff') format('woff');
}