@font-face {
    font-family: 'Libre Franklin';
    font-style: 'normal';
    font-weight: 900;
    src: local('Libre Franklin Black'), local('LibreFranklin-Black'),
         url('libre-franklin-latin-900.woff2') format('woff2'),
         url('libre-franklin-latin-900.woff') format('woff');
}