@font-face {
    font-family: 'Libre Franklin';
    font-style: 'italic';
    font-weight: 800;
    src: local('Libre Franklin ExtraBold Italic'), local('LibreFranklin-ExtraBoldItalic'),
         url('libre-franklin-latin-800italic.woff2') format('woff2'),
         url('libre-franklin-latin-800italic.woff') format('woff');
}