@font-face {
    font-family: 'Libre Franklin';
    font-style: 'normal';
    font-weight: 500;
    src: local('Libre Franklin Medium'), local('LibreFranklin-Medium'),
         url('libre-franklin-latin-500.woff2') format('woff2'),
         url('libre-franklin-latin-500.woff') format('woff');
}