@font-face {
    font-family: 'Libre Franklin';
    font-style: 'normal';
    font-weight: 600;
    src: local('Libre Franklin SemiBold'), local('LibreFranklin-SemiBold'),
         url('libre-franklin-latin-600.woff2') format('woff2'),
         url('libre-franklin-latin-600.woff') format('woff');
}