@font-face {
    font-family: 'Pathway Gothic One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Pathway Gothic One Regular'), local('PathwayGothicOne-Regular'),
         url('pathway-gothic-one-latin-regular.woff2') format('woff2'),
         url('pathway-gothic-one-latin-regular.woff') format('woff');
}