@font-face {
    font-family: 'Bigshot One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Bigshot One Regular'), local('BigshotOne-Regular'),
         url('bigshot-one-latin-regular.woff2') format('woff2'),
         url('bigshot-one-latin-regular.woff') format('woff');
}