@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: 'italic';
    font-weight: 200;
    src: local('Barlow Semi Condensed ExtraLight Italic'), local('BarlowSemiCondensed-ExtraLightItalic'),
         url('barlow-semi-condensed-latin-200italic.woff2') format('woff2'),
         url('barlow-semi-condensed-latin-200italic.woff') format('woff');
}