@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: 'normal';
    font-weight: 600;
    src: local('Barlow Semi Condensed SemiBold'), local('BarlowSemiCondensed-SemiBold'),
         url('barlow-semi-condensed-latin-600.woff2') format('woff2'),
         url('barlow-semi-condensed-latin-600.woff') format('woff');
}