@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: 'normal';
    font-weight: 200;
    src: local('Barlow Semi Condensed ExtraLight'), local('BarlowSemiCondensed-ExtraLight'),
         url('barlow-semi-condensed-latin-200.woff2') format('woff2'),
         url('barlow-semi-condensed-latin-200.woff') format('woff');
}