@font-face {
    font-family: 'Barlow Semi Condensed';
    font-style: 'normal';
    font-weight: 500;
    src: local('Barlow Semi Condensed Medium'), local('BarlowSemiCondensed-Medium'),
         url('barlow-semi-condensed-latin-500.woff2') format('woff2'),
         url('barlow-semi-condensed-latin-500.woff') format('woff');
}