@font-face {
    font-family: 'Devonshire';
    font-style: 'normal';
    font-weight: 400;
    src: local('Devonshire Regular'), local('Devonshire-Regular'),
         url('devonshire-latin-regular.woff2') format('woff2'),
         url('devonshire-latin-regular.woff') format('woff');
}