@font-face {
    font-family: 'Karma';
    font-style: 'normal';
    font-weight: 300;
    src: local('Karma Light'), local('Karma-Light'),
         url('karma-latin-300.woff2') format('woff2'),
         url('karma-latin-300.woff') format('woff');
}