@font-face {
    font-family: 'Cagliostro';
    font-style: 'normal';
    font-weight: 400;
    src: local('Cagliostro Regular'), local('Cagliostro-Regular'),
         url('cagliostro-latin-regular.woff2') format('woff2'),
         url('cagliostro-latin-regular.woff') format('woff');
}