@font-face {
    font-family: 'Smokum';
    font-style: 'normal';
    font-weight: 400;
    src: local('Smokum Regular'), local('Smokum-Regular'),
         url('smokum-latin-regular.woff2') format('woff2'),
         url('smokum-latin-regular.woff') format('woff');
}