@font-face {
    font-family: 'Merriweather';
    font-style: 'italic';
    font-weight: 900;
    src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
         url('merriweather-latin-italic.woff2') format('woff2'),
         url('merriweather-latin-italic.woff') format('woff');
}