@font-face {
    font-family: 'Merriweather';
    font-style: 'normal';
    font-weight: 400;
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
         url('merriweather-latin-regular.woff2') format('woff2'),
         url('merriweather-latin-regular.woff') format('woff');
}