@font-face {
    font-family: 'Caudex';
    font-style: 'normal';
    font-weight: 400;
    src: local('Caudex Regular'), local('Caudex-Regular'),
         url('caudex-latin-regular.woff2') format('woff2'),
         url('caudex-latin-regular.woff') format('woff');
}