@font-face {
    font-family: 'Raleway Dots';
    font-style: 'normal';
    font-weight: 400;
    src: local('Raleway Dots Regular'), local('RalewayDots-Regular'),
         url('raleway-dots-latin-regular.woff2') format('woff2'),
         url('raleway-dots-latin-regular.woff') format('woff');
}