@font-face {
    font-family: 'IM Fell Great Primer';
    font-style: 'normal';
    font-weight: 400;
    src: local('IM Fell Great Primer Regular'), local('IMFellGreatPrimer-Regular'),
         url('im-fell-great-primer-latin-regular.woff2') format('woff2'),
         url('im-fell-great-primer-latin-regular.woff') format('woff');
}