@font-face {
    font-family: 'Skranji';
    font-style: 'normal';
    font-weight: 400;
    src: local('Skranji Regular'), local('Skranji-Regular'),
         url('skranji-latin-regular.woff2') format('woff2'),
         url('skranji-latin-regular.woff') format('woff');
}