@font-face {
    font-family: 'Stoke';
    font-style: 'normal';
    font-weight: 300;
    src: local('Stoke Light'), local('Stoke-Light'),
         url('stoke-latin-300.woff2') format('woff2'),
         url('stoke-latin-300.woff') format('woff');
}