@font-face {
    font-family: 'Stoke';
    font-style: 'normal';
    font-weight: 400;
    src: local('Stoke Regular'), local('Stoke-Regular'),
         url('stoke-latin-regular.woff2') format('woff2'),
         url('stoke-latin-regular.woff') format('woff');
}