@font-face {
    font-family: 'Margarine';
    font-style: 'normal';
    font-weight: 400;
    src: local('Margarine Regular'), local('Margarine-Regular'),
         url('margarine-latin-regular.woff2') format('woff2'),
         url('margarine-latin-regular.woff') format('woff');
}