@font-face {
    font-family: 'Lusitana';
    font-style: 'normal';
    font-weight: 700;
    src: local('Lusitana Bold'), local('Lusitana-Bold'),
         url('lusitana-latin-700.woff2') format('woff2'),
         url('lusitana-latin-700.woff') format('woff');
}