@font-face {
    font-family: 'Lusitana';
    font-style: 'normal';
    font-weight: 400;
    src: local('Lusitana Regular'), local('Lusitana-Regular'),
         url('lusitana-latin-regular.woff2') format('woff2'),
         url('lusitana-latin-regular.woff') format('woff');
}