@font-face {
    font-family: 'Saira Semi Condensed';
    font-style: 'normal';
    font-weight: 200;
    src: local('Saira Semi Condensed ExtraLight'), local('SairaSemiCondensed-ExtraLight'),
         url('saira-semi-condensed-latin-200.woff2') format('woff2'),
         url('saira-semi-condensed-latin-200.woff') format('woff');
}