@font-face {
    font-family: 'Averia Libre';
    font-style: 'normal';
    font-weight: 700;
    src: local('Averia Libre Bold'), local('AveriaLibre-Bold'),
         url('averia-libre-latin-700.woff2') format('woff2'),
         url('averia-libre-latin-700.woff') format('woff');
}