@font-face {
    font-family: 'Open Sans';
    font-style: 'italic';
    font-weight: 900;
    src: local('Open Sans Black Italic'), local('OpenSans-BlackItalic'),
         url('open-sans-latin-ext-italic.woff2') format('woff2'),
         url('open-sans-latin-ext-italic.woff') format('woff');
}