@font-face {
    font-family: 'Sansita';
    font-style: 'normal';
    font-weight: 400;
    src: local('Sansita Regular'), local('Sansita-Regular'),
         url('sansita-latin-regular.woff2') format('woff2'),
         url('sansita-latin-regular.woff') format('woff');
}