@font-face {
    font-family: 'Sansita';
    font-style: 'normal';
    font-weight: 700;
    src: local('Sansita Bold'), local('Sansita-Bold'),
         url('sansita-latin-700.woff2') format('woff2'),
         url('sansita-latin-700.woff') format('woff');
}