@font-face {
    font-family: 'Halant';
    font-style: 'normal';
    font-weight: 500;
    src: local('Halant Medium'), local('Halant-Medium'),
         url('halant-latin-ext_latin_devanagari-500.woff2') format('woff2'),
         url('halant-latin-ext_latin_devanagari-500.woff') format('woff');
}