@font-face {
    font-family: 'Halant';
    font-style: 'normal';
    font-weight: 400;
    src: local('Halant Regular'), local('Halant-Regular'),
         url('halant-latin-ext_latin_devanagari-regular.woff2') format('woff2'),
         url('halant-latin-ext_latin_devanagari-regular.woff') format('woff');
}