@font-face {
    font-family: 'Halant';
    font-style: 'normal';
    font-weight: 300;
    src: local('Halant Light'), local('Halant-Light'),
         url('halant-latin-ext_latin_devanagari-300.woff2') format('woff2'),
         url('halant-latin-ext_latin_devanagari-300.woff') format('woff');
}