@font-face {
    font-family: 'Halant';
    font-style: 'normal';
    font-weight: 700;
    src: local('Halant Bold'), local('Halant-Bold'),
         url('halant-latin-ext_latin_devanagari-700.woff2') format('woff2'),
         url('halant-latin-ext_latin_devanagari-700.woff') format('woff');
}