@font-face {
    font-family: 'Averia Serif Libre';
    font-style: 'normal';
    font-weight: 300;
    src: local('Averia Serif Libre Light'), local('AveriaSerifLibre-Light'),
         url('averia-serif-libre-latin-300.woff2') format('woff2'),
         url('averia-serif-libre-latin-300.woff') format('woff');
}