@font-face {
    font-family: 'Astloch';
    font-style: 'normal';
    font-weight: 700;
    src: local('Astloch Bold'), local('Astloch-Bold'),
         url('astloch-latin-700.woff2') format('woff2'),
         url('astloch-latin-700.woff') format('woff');
}