@font-face {
    font-family: 'Oleo Script';
    font-style: 'normal';
    font-weight: 400;
    src: local('Oleo Script Regular'), local('OleoScript-Regular'),
         url('oleo-script-latin-regular.woff2') format('woff2'),
         url('oleo-script-latin-regular.woff') format('woff');
}