@font-face {
    font-family: 'Rokkitt';
    font-style: 'normal';
    font-weight: 300;
    src: local('Rokkitt Light'), local('Rokkitt-Light'),
         url('rokkitt-latin-300.woff2') format('woff2'),
         url('rokkitt-latin-300.woff') format('woff');
}