@font-face {
    font-family: 'Rokkitt';
    font-style: 'normal';
    font-weight: 500;
    src: local('Rokkitt Medium'), local('Rokkitt-Medium'),
         url('rokkitt-latin-500.woff2') format('woff2'),
         url('rokkitt-latin-500.woff') format('woff');
}