@font-face {
    font-family: 'Alegreya Sans';
    font-style: 'normal';
    font-weight: 500;
    src: local('Alegreya Sans Medium'), local('AlegreyaSans-Medium'),
         url('alegreya-sans-latin-500.woff2') format('woff2'),
         url('alegreya-sans-latin-500.woff') format('woff');
}