@font-face {
    font-family: 'Alegreya Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Alegreya Sans Bold'), local('AlegreyaSans-Bold'),
         url('alegreya-sans-latin-700.woff2') format('woff2'),
         url('alegreya-sans-latin-700.woff') format('woff');
}