@font-face {
    font-family: 'Chela One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Chela One Regular'), local('ChelaOne-Regular'),
         url('chela-one-latin-regular.woff2') format('woff2'),
         url('chela-one-latin-regular.woff') format('woff');
}