@font-face {
    font-family: 'Josefin Slab';
    font-style: 'normal';
    font-weight: 700;
    src: local('Josefin Slab Bold'), local('JosefinSlab-Bold'),
         url('josefin-slab-latin-700.woff2') format('woff2'),
         url('josefin-slab-latin-700.woff') format('woff');
}