@font-face {
    font-family: 'Jolly Lodger';
    font-style: 'normal';
    font-weight: 400;
    src: local('Jolly Lodger Regular'), local('JollyLodger-Regular'),
         url('jolly-lodger-latin-regular.woff2') format('woff2'),
         url('jolly-lodger-latin-regular.woff') format('woff');
}