@font-face {
    font-family: 'Averia Gruesa Libre';
    font-style: 'normal';
    font-weight: 400;
    src: local('Averia Gruesa Libre Regular'), local('AveriaGruesaLibre-Regular'),
         url('averia-gruesa-libre-latin-regular.woff2') format('woff2'),
         url('averia-gruesa-libre-latin-regular.woff') format('woff');
}