@font-face {
    font-family: 'M PLUS 1p';
    font-style: 'normal';
    font-weight: 300;
    src: local('M PLUS 1p Light'), local('MPLUS1p-Light'),
         url('m-plus-1p-latin-300.woff2') format('woff2'),
         url('m-plus-1p-latin-300.woff') format('woff');
}