@font-face {
    font-family: 'M PLUS 1p';
    font-style: 'normal';
    font-weight: 800;
    src: local('M PLUS 1p ExtraBold'), local('MPLUS1p-ExtraBold'),
         url('m-plus-1p-latin-800.woff2') format('woff2'),
         url('m-plus-1p-latin-800.woff') format('woff');
}