@font-face {
    font-family: 'UnifrakturMaguntia';
    font-style: 'normal';
    font-weight: 400;
    src: local('UnifrakturMaguntia Regular'), local('UnifrakturMaguntia-Regular'),
         url('unifrakturmaguntia-latin-regular.woff2') format('woff2'),
         url('unifrakturmaguntia-latin-regular.woff') format('woff');
}