@font-face {
    font-family: 'Mukta';
    font-style: 'normal';
    font-weight: 300;
    src: local('Mukta Light'), local('Mukta-Light'),
         url('mukta-latin-300.woff2') format('woff2'),
         url('mukta-latin-300.woff') format('woff');
}