@font-face {
    font-family: 'Mukta';
    font-style: 'normal';
    font-weight: 700;
    src: local('Mukta Bold'), local('Mukta-Bold'),
         url('mukta-latin-700.woff2') format('woff2'),
         url('mukta-latin-700.woff') format('woff');
}