@font-face {
    font-family: 'Lato';
    font-style: 'normal';
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('lato-latin-900.woff2') format('woff2'),
         url('lato-latin-900.woff') format('woff');
}