@font-face {
    font-family: 'Roboto';
    font-style: 'italic';
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
         url('roboto-cyrillic-ext_cyrillic-300italic.woff2') format('woff2'),
         url('roboto-cyrillic-ext_cyrillic-300italic.woff') format('woff');
}