@font-face {
    font-family: 'Roboto';
    font-style: 'normal';
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('roboto-cyrillic-ext_cyrillic-500.woff2') format('woff2'),
         url('roboto-cyrillic-ext_cyrillic-500.woff') format('woff');
}