@font-face {
    font-family: 'Roboto';
    font-style: 'normal';
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
         url('roboto-cyrillic-ext_cyrillic-300.woff2') format('woff2'),
         url('roboto-cyrillic-ext_cyrillic-300.woff') format('woff');
}