@font-face {
    font-family: 'Roboto';
    font-style: 'normal';
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
         url('roboto-cyrillic-ext_cyrillic-900.woff2') format('woff2'),
         url('roboto-cyrillic-ext_cyrillic-900.woff') format('woff');
}