@font-face {
    font-family: 'Trirong';
    font-style: 'normal';
    font-weight: 400;
    src: local('Trirong Regular'), local('Trirong-Regular'),
         url('trirong-latin-regular.woff2') format('woff2'),
         url('trirong-latin-regular.woff') format('woff');
}