@font-face {
    font-family: 'Trirong';
    font-style: 'normal';
    font-weight: 300;
    src: local('Trirong Light'), local('Trirong-Light'),
         url('trirong-latin-300.woff2') format('woff2'),
         url('trirong-latin-300.woff') format('woff');
}