@font-face {
    font-family: 'Trirong';
    font-style: 'normal';
    font-weight: 600;
    src: local('Trirong SemiBold'), local('Trirong-SemiBold'),
         url('trirong-latin-600.woff2') format('woff2'),
         url('trirong-latin-600.woff') format('woff');
}