@font-face {
    font-family: 'Trirong';
    font-style: 'italic';
    font-weight: 900;
    src: local('Trirong Black Italic'), local('Trirong-BlackItalic'),
         url('trirong-latin-italic.woff2') format('woff2'),
         url('trirong-latin-italic.woff') format('woff');
}