@font-face {
    font-family: 'Trirong';
    font-style: 'normal';
    font-weight: 500;
    src: local('Trirong Medium'), local('Trirong-Medium'),
         url('trirong-latin-500.woff2') format('woff2'),
         url('trirong-latin-500.woff') format('woff');
}