@font-face {
    font-family: 'Bungee Inline';
    font-style: 'normal';
    font-weight: 400;
    src: local('Bungee Inline Regular'), local('BungeeInline-Regular'),
         url('bungee-inline-latin-regular.woff2') format('woff2'),
         url('bungee-inline-latin-regular.woff') format('woff');
}