@font-face {
    font-family: 'Arima Madurai';
    font-style: 'normal';
    font-weight: 400;
    src: local('Arima Madurai Regular'), local('ArimaMadurai-Regular'),
         url('arima-madurai-latin-regular.woff2') format('woff2'),
         url('arima-madurai-latin-regular.woff') format('woff');
}