@font-face {
    font-family: 'Asap';
    font-style: 'normal';
    font-weight: 400;
    src: local('Asap Regular'), local('Asap-Regular'),
         url('asap-latin-regular.woff2') format('woff2'),
         url('asap-latin-regular.woff') format('woff');
}