@font-face {
    font-family: 'Asap';
    font-style: 'italic';
    font-weight: 700;
    src: local('Asap Bold Italic'), local('Asap-BoldItalic'),
         url('asap-latin-700italic.woff2') format('woff2'),
         url('asap-latin-700italic.woff') format('woff');
}