@font-face {
    font-family: 'Crete Round';
    font-style: 'normal';
    font-weight: 400;
    src: local('Crete Round Regular'), local('CreteRound-Regular'),
         url('crete-round-latin-regular.woff2') format('woff2'),
         url('crete-round-latin-regular.woff') format('woff');
}