@font-face {
    font-family: 'Bitter';
    font-style: 'normal';
    font-weight: 700;
    src: local('Bitter Bold'), local('Bitter-Bold'),
         url('bitter-latin-700.woff2') format('woff2'),
         url('bitter-latin-700.woff') format('woff');
}