@font-face {
    font-family: 'Hind Guntur';
    font-style: 'normal';
    font-weight: 700;
    src: local('Hind Guntur Bold'), local('HindGuntur-Bold'),
         url('hind-guntur-latin-ext_telugu_latin-700.woff2') format('woff2'),
         url('hind-guntur-latin-ext_telugu_latin-700.woff') format('woff');
}