@font-face {
    font-family: 'Hind Guntur';
    font-style: 'normal';
    font-weight: 400;
    src: local('Hind Guntur Regular'), local('HindGuntur-Regular'),
         url('hind-guntur-latin-ext_telugu_latin-regular.woff2') format('woff2'),
         url('hind-guntur-latin-ext_telugu_latin-regular.woff') format('woff');
}