@font-face {
    font-family: 'Saira';
    font-style: 'normal';
    font-weight: 400;
    src: local('Saira Regular'), local('Saira-Regular'),
         url('saira-latin-regular.woff2') format('woff2'),
         url('saira-latin-regular.woff') format('woff');
}