@font-face {
    font-family: 'Saira';
    font-style: 'normal';
    font-weight: 700;
    src: local('Saira Bold'), local('Saira-Bold'),
         url('saira-latin-700.woff2') format('woff2'),
         url('saira-latin-700.woff') format('woff');
}