@font-face {
    font-family: 'Saira';
    font-style: 'normal';
    font-weight: 200;
    src: local('Saira ExtraLight'), local('Saira-ExtraLight'),
         url('saira-latin-200.woff2') format('woff2'),
         url('saira-latin-200.woff') format('woff');
}