@font-face {
    font-family: 'Zilla Slab';
    font-style: 'normal';
    font-weight: 300;
    src: local('Zilla Slab Light'), local('ZillaSlab-Light'),
         url('zilla-slab-latin-300.woff2') format('woff2'),
         url('zilla-slab-latin-300.woff') format('woff');
}