@font-face {
    font-family: 'Zilla Slab';
    font-style: 'normal';
    font-weight: 700;
    src: local('Zilla Slab Bold'), local('ZillaSlab-Bold'),
         url('zilla-slab-latin-700.woff2') format('woff2'),
         url('zilla-slab-latin-700.woff') format('woff');
}