@font-face {
    font-family: 'Manuale';
    font-style: 'normal';
    font-weight: 500;
    src: local('Manuale Medium'), local('Manuale-Medium'),
         url('manuale-latin-500.woff2') format('woff2'),
         url('manuale-latin-500.woff') format('woff');
}