@font-face {
    font-family: 'Padauk';
    font-style: 'normal';
    font-weight: 700;
    src: local('Padauk Bold'), local('Padauk-Bold'),
         url('padauk-latin-700.woff2') format('woff2'),
         url('padauk-latin-700.woff') format('woff');
}