@font-face {
    font-family: 'Padauk';
    font-style: 'normal';
    font-weight: 400;
    src: local('Padauk Regular'), local('Padauk-Regular'),
         url('padauk-latin-regular.woff2') format('woff2'),
         url('padauk-latin-regular.woff') format('woff');
}