@font-face {
    font-family: 'KoHo';
    font-style: 'normal';
    font-weight: 400;
    src: local('KoHo Regular'), local('KoHo-Regular'),
         url('koho-latin-regular.woff2') format('woff2'),
         url('koho-latin-regular.woff') format('woff');
}