@font-face {
    font-family: 'KoHo';
    font-style: 'normal';
    font-weight: 300;
    src: local('KoHo Light'), local('KoHo-Light'),
         url('koho-latin-300.woff2') format('woff2'),
         url('koho-latin-300.woff') format('woff');
}