@font-face {
    font-family: 'Archivo';
    font-style: 'normal';
    font-weight: 700;
    src: local('Archivo Bold'), local('Archivo-Bold'),
         url('archivo-latin-700.woff2') format('woff2'),
         url('archivo-latin-700.woff') format('woff');
}