@font-face {
    font-family: 'Quattrocento';
    font-style: 'normal';
    font-weight: 700;
    src: local('Quattrocento Bold'), local('Quattrocento-Bold'),
         url('quattrocento-latin-700.woff2') format('woff2'),
         url('quattrocento-latin-700.woff') format('woff');
}