@font-face {
    font-family: 'Gugi';
    font-style: 'normal';
    font-weight: 400;
    src: local('Gugi Regular'), local('Gugi-Regular'),
         url('gugi-latin-regular.woff2') format('woff2'),
         url('gugi-latin-regular.woff') format('woff');
}