@font-face {
    font-family: 'Tajawal';
    font-style: 'normal';
    font-weight: 900;
    src: local('Tajawal Black'), local('Tajawal-Black'),
         url('tajawal-latin-900.woff2') format('woff2'),
         url('tajawal-latin-900.woff') format('woff');
}