@font-face {
    font-family: 'Tajawal';
    font-style: 'normal';
    font-weight: 300;
    src: local('Tajawal Light'), local('Tajawal-Light'),
         url('tajawal-latin-300.woff2') format('woff2'),
         url('tajawal-latin-300.woff') format('woff');
}