@font-face {
    font-family: 'Fjord One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Fjord One Regular'), local('FjordOne-Regular'),
         url('fjord-one-latin-regular.woff2') format('woff2'),
         url('fjord-one-latin-regular.woff') format('woff');
}