@font-face {
    font-family: 'Cormorant SC';
    font-style: 'normal';
    font-weight: 300;
    src: local('Cormorant SC Light'), local('CormorantSC-Light'),
         url('cormorant-sc-latin-300.woff2') format('woff2'),
         url('cormorant-sc-latin-300.woff') format('woff');
}