@font-face {
    font-family: 'Cormorant SC';
    font-style: 'normal';
    font-weight: 700;
    src: local('Cormorant SC Bold'), local('CormorantSC-Bold'),
         url('cormorant-sc-latin-700.woff2') format('woff2'),
         url('cormorant-sc-latin-700.woff') format('woff');
}