@font-face {
    font-family: 'Average Sans';
    font-style: 'normal';
    font-weight: 400;
    src: local('Average Sans Regular'), local('AverageSans-Regular'),
         url('average-sans-latin-regular.woff2') format('woff2'),
         url('average-sans-latin-regular.woff') format('woff');
}