@font-face {
    font-family: 'Donegal One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Donegal One Regular'), local('DonegalOne-Regular'),
         url('donegal-one-latin-regular.woff2') format('woff2'),
         url('donegal-one-latin-regular.woff') format('woff');
}