@font-face {
    font-family: 'Expletus Sans';
    font-style: 'italic';
    font-weight: 900;
    src: local('Expletus Sans Black Italic'), local('ExpletusSans-BlackItalic'),
         url('expletus-sans-latin-italic.woff2') format('woff2'),
         url('expletus-sans-latin-italic.woff') format('woff');
}