@font-face {
    font-family: 'Titillium Web';
    font-style: 'normal';
    font-weight: 300;
    src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
         url('titillium-web-latin-300.woff2') format('woff2'),
         url('titillium-web-latin-300.woff') format('woff');
}