@font-face {
    font-family: 'Titillium Web';
    font-style: 'normal';
    font-weight: 600;
    src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
         url('titillium-web-latin-600.woff2') format('woff2'),
         url('titillium-web-latin-600.woff') format('woff');
}