@font-face {
    font-family: 'Titillium Web';
    font-style: 'normal';
    font-weight: 900;
    src: local('Titillium Web Black'), local('TitilliumWeb-Black'),
         url('titillium-web-latin-900.woff2') format('woff2'),
         url('titillium-web-latin-900.woff') format('woff');
}