@font-face {
    font-family: 'Gorditas';
    font-style: 'normal';
    font-weight: 700;
    src: local('Gorditas Bold'), local('Gorditas-Bold'),
         url('gorditas-latin-700.woff2') format('woff2'),
         url('gorditas-latin-700.woff') format('woff');
}