@font-face {
    font-family: 'Overpass';
    font-style: 'italic';
    font-weight: 900;
    src: local('Overpass Black Italic'), local('Overpass-BlackItalic'),
         url('overpass-latin-900italic.woff2') format('woff2'),
         url('overpass-latin-900italic.woff') format('woff');
}