@font-face {
    font-family: 'Overpass';
    font-style: 'normal';
    font-weight: 400;
    src: local('Overpass Regular'), local('Overpass-Regular'),
         url('overpass-latin-regular.woff2') format('woff2'),
         url('overpass-latin-regular.woff') format('woff');
}