@font-face {
    font-family: 'Kanit';
    font-style: 'italic';
    font-weight: 600;
    src: local('Kanit SemiBold Italic'), local('Kanit-SemiBoldItalic'),
         url('kanit-latin-600italic.woff2') format('woff2'),
         url('kanit-latin-600italic.woff') format('woff');
}