@font-face {
    font-family: 'Kanit';
    font-style: 'italic';
    font-weight: 500;
    src: local('Kanit Medium Italic'), local('Kanit-MediumItalic'),
         url('kanit-latin-500italic.woff2') format('woff2'),
         url('kanit-latin-500italic.woff') format('woff');
}