@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 800;
    src: local('Kanit ExtraBold'), local('Kanit-ExtraBold'),
         url('kanit-latin-800.woff2') format('woff2'),
         url('kanit-latin-800.woff') format('woff');
}