@font-face {
    font-family: 'Kanit';
    font-style: 'normal';
    font-weight: 500;
    src: local('Kanit Medium'), local('Kanit-Medium'),
         url('kanit-latin-500.woff2') format('woff2'),
         url('kanit-latin-500.woff') format('woff');
}