@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: 'normal';
    font-weight: 700;
    src: local('Encode Sans Condensed Bold'), local('EncodeSansCondensed-Bold'),
         url('encode-sans-condensed-latin-700.woff2') format('woff2'),
         url('encode-sans-condensed-latin-700.woff') format('woff');
}