@font-face {
    font-family: 'Encode Sans Condensed';
    font-style: 'normal';
    font-weight: 400;
    src: local('Encode Sans Condensed Regular'), local('EncodeSansCondensed-Regular'),
         url('encode-sans-condensed-latin-regular.woff2') format('woff2'),
         url('encode-sans-condensed-latin-regular.woff') format('woff');
}