@font-face {
    font-family: 'Economica';
    font-style: 'normal';
    font-weight: 700;
    src: local('Economica Bold'), local('Economica-Bold'),
         url('economica-latin-700.woff2') format('woff2'),
         url('economica-latin-700.woff') format('woff');
}