@font-face {
    font-family: 'Supermercado One';
    font-style: 'normal';
    font-weight: 400;
    src: local('Supermercado One Regular'), local('SupermercadoOne-Regular'),
         url('supermercado-one-latin-regular.woff2') format('woff2'),
         url('supermercado-one-latin-regular.woff') format('woff');
}