@font-face {
    font-family: 'Hi Melody';
    font-style: 'normal';
    font-weight: 400;
    src: local('Hi Melody Regular'), local('HiMelody-Regular'),
         url('hi-melody-latin_korean-regular.woff2') format('woff2'),
         url('hi-melody-latin_korean-regular.woff') format('woff');
}