@font-face {
    font-family: 'Signika';
    font-style: 'normal';
    font-weight: 400;
    src: local('Signika Regular'), local('Signika-Regular'),
         url('signika-latin-regular.woff2') format('woff2'),
         url('signika-latin-regular.woff') format('woff');
}