@font-face {
    font-family: 'Signika';
    font-style: 'normal';
    font-weight: 300;
    src: local('Signika Light'), local('Signika-Light'),
         url('signika-latin-300.woff2') format('woff2'),
         url('signika-latin-300.woff') format('woff');
}