@font-face {
    font-family: 'PT Sans Caption';
    font-style: 'normal';
    font-weight: 400;
    src: local('PT Sans Caption Regular'), local('PTSansCaption-Regular'),
         url('pt-sans-caption-latin-regular.woff2') format('woff2'),
         url('pt-sans-caption-latin-regular.woff') format('woff');
}