@font-face {
    font-family: 'Ruda';
    font-style: 'normal';
    font-weight: 700;
    src: local('Ruda Bold'), local('Ruda-Bold'),
         url('ruda-latin-700.woff2') format('woff2'),
         url('ruda-latin-700.woff') format('woff');
}