@font-face {
    font-family: 'Ruda';
    font-style: 'normal';
    font-weight: 400;
    src: local('Ruda Regular'), local('Ruda-Regular'),
         url('ruda-latin-regular.woff2') format('woff2'),
         url('ruda-latin-regular.woff') format('woff');
}