@font-face {
    font-family: 'Comfortaa';
    font-style: 'normal';
    font-weight: 700;
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
         url('comfortaa-latin-700.woff2') format('woff2'),
         url('comfortaa-latin-700.woff') format('woff');
}