@font-face {
    font-family: 'Fira Sans';
    font-style: 'normal';
    font-weight: 700;
    src: local('Fira Sans Bold'), local('FiraSans-Bold'),
         url('fira-sans-latin-700.woff2') format('woff2'),
         url('fira-sans-latin-700.woff') format('woff');
}