@font-face {
    font-family: 'Amiri';
    font-style: 'italic';
    font-weight: 900;
    src: local('Amiri Black Italic'), local('Amiri-BlackItalic'),
         url('amiri-arabic-italic.woff2') format('woff2'),
         url('amiri-arabic-italic.woff') format('woff');
}