@font-face {
    font-family: 'M PLUS Rounded 1c';
    font-style: 'normal';
    font-weight: 800;
    src: local('M PLUS Rounded 1c ExtraBold'), local('MPLUSRounded1c-ExtraBold'),
         url('m-plus-rounded-1c-latin-800.woff2') format('woff2'),
         url('m-plus-rounded-1c-latin-800.woff') format('woff');
}