@font-face {
    font-family: 'Magra';
    font-style: 'normal';
    font-weight: 700;
    src: local('Magra Bold'), local('Magra-Bold'),
         url('magra-latin-700.woff2') format('woff2'),
         url('magra-latin-700.woff') format('woff');
}