@font-face {
    font-family: 'Arbutus Slab';
    font-style: 'normal';
    font-weight: 400;
    src: local('Arbutus Slab Regular'), local('ArbutusSlab-Regular'),
         url('arbutus-slab-latin-regular.woff2') format('woff2'),
         url('arbutus-slab-latin-regular.woff') format('woff');
}