@font-face {
    font-family: 'Bree Serif';
    font-style: 'normal';
    font-weight: 400;
    src: local('Bree Serif Regular'), local('BreeSerif-Regular'),
         url('bree-serif-latin-regular.woff2') format('woff2'),
         url('bree-serif-latin-regular.woff') format('woff');
}