@font-face {
    font-family: 'Poppins';
    font-style: 'normal';
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'),
         url('poppins-latin-700.woff2') format('woff2'),
         url('poppins-latin-700.woff') format('woff');
}