@font-face {
    font-family: 'Marcellus';
    font-style: 'normal';
    font-weight: 400;
    src: local('Marcellus Regular'), local('Marcellus-Regular'),
         url('marcellus-latin-regular.woff2') format('woff2'),
         url('marcellus-latin-regular.woff') format('woff');
}