@font-face {
    font-family: 'Rubik';
    font-style: 'italic';
    font-weight: 700;
    src: local('Rubik Bold Italic'), local('Rubik-BoldItalic'),
         url('rubik-latin-700italic.woff2') format('woff2'),
         url('rubik-latin-700italic.woff') format('woff');
}