@font-face {
    font-family: 'Rubik';
    font-style: 'normal';
    font-weight: 700;
    src: local('Rubik Bold'), local('Rubik-Bold'),
         url('rubik-latin-700.woff2') format('woff2'),
         url('rubik-latin-700.woff') format('woff');
}