@font-face {
    font-family: 'Rubik';
    font-style: 'normal';
    font-weight: 300;
    src: local('Rubik Light'), local('Rubik-Light'),
         url('rubik-latin-300.woff2') format('woff2'),
         url('rubik-latin-300.woff') format('woff');
}