@font-face {
    font-family: 'Arimo';
    font-style: 'normal';
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'),
         url('arimo-latin-700.woff2') format('woff2'),
         url('arimo-latin-700.woff') format('woff');
}